[2018-01-15 07:11] kayila opened #3 "Enhancement proposal: process controlled HTTP response code and headers"
## Brief summary including motivation/context

This change is to the streaming mode of of-watchdog to add a named pipe with which the running subprograms can send control messages back to of-watchdog in specify the HTTP response code and headers. This design will be done in such a way so as to not impact the behavior for any called functions which do not make use of the pipe provided. The motivati

[2018-01-18 00:40] kayila commented on #3
@alexellis Could you please take a look at this?

[2018-01-20 20:07] alexellis commented on #3
So in the streaming mode your HTTP response header is returned immediately as soon as the first byte is transferred. You cannot send a HTTP response header a second time.

[2018-01-20 22:12] kayila commented on #3
Correct. All the headers and status code must be sent in a single bundle in this design.

[2018-01-21 09:36] alexellis commented on #3
Unless I'm not following along then what I just mentioned would mean your change couldn't work in the streaming mode. Perhaps if you need an error after the fact [link headers](https://www.w3.org/wiki/LinkHeader) might be better suited or checking on the client-end to create a checksum from the result.

What is your concrete use-case here?

[2018-01-22 04:14] kayila commented on #3
My concrete use case is using an openfaas function to provide authentication responses for nginx subrequest authentication. The nginx server needs a 200 code for access granted and a 400 code for access denied.

This proposal can be acomplisjed by putting a shim struct between the http.ResponseWriter and the stdout of the called process which will detect the first byte of the output and at that po

[2018-01-28 19:00] duckinator commented on #3
I'd like to see this, too. Most usecases I can think of for openfaas or similar things require the ability to return non-200 status codes.

[2018-01-28 21:23] kayila commented on #3
@alexellis I'm thinking perhaps I didn't do the best job explaining what my idea is in full. In my proposal, a side channel will be opened and, when the first byte of output would be sent back to the client, that side pipe is checked first. If that pipe contains any data, it dumps that before the first byte of stdout. After the first byte is sent to the client, that check no longer occurs. So in t

[2018-01-29 11:20] stefanprodan opened #4 "[HTTP] Handle forked process exit"
When the forked process exist, the watchdog could log the exit code and release the lock file to trigger a container restart.

## Expected Behaviour
If the function process exists, the watchdog should log the exit code/stdio and release the lock file.

## Current Behaviour
Currently the  watchdog only logs that it couldn't read the stdio.

[2018-01-29 11:26] stefanprodan opened #5 "[HTTP] Handle forked process timeout"
When the forked process doesn't respond to http calls, the watchdog could release the lock file to trigger a container restart.

## Expected Behaviour
If the function http server timeouts, the watchdog should log the timeout exception and release the lock file.
Maybe implement a retry mechanism and exit after several timeouts?

## Current Behaviour
Currently the watchdog only logs the http error w

[2018-01-29 18:37] alexellis commented on #3
Hi guys - we are working on something that will allow a http status to be returned.

Using a pipe as well as stdio seems orthogonal and I'm not keen on opening additional files or pipes per request - as these have to be managed and garbage collected. Under high load these could result in undesired side-effects.

If you're on the OpenFaaS slack already you can read more about the plans in #contribu

[2018-01-29 18:39] alexellis commented on #4
This does panic because stderr is disconnected and result in the container stopping. Does that serve the purpose?

[2018-01-29 18:47] stefanprodan commented on #4
I think we can close this, the exit code is not that important.

[2018-01-29 20:03] kayila commented on #3
The issue you've linked to doesn't cover the streaming mode, only the forking and afterburn methods. My proposed solution works for streaming, and could easily be used for both forking and afterburn as well.  But lets discuss it over slack rather than continuing to go back and forth in this thread.

[2018-01-29 20:32] alexellis commented on #3
Going forward the new of-watchdog will most likely retain the forking mode and the HTTP mode only. The HTTP mode will support any response status code / header.

The forking mode I would not see changing much beyond its current interface. It is possible to set an alternative HTTP code with a non-zero exit code. This currently maps like this:

* Zero = 200
* Non-zero = 500

[2018-01-29 20:49] kayila commented on #3
Based on your wording, and looking at the README to confirm the mode types, I must assume that by 'forking mode' you mean 'Serializing Fork' and not 'Streaming Fork' because my proposed solution is primarily aimed at the Streaming Fork mode, which is still a forking mode.

It now sounds like you are saying you are planning to remove the Streaming Forking mode all together, which would break backwa

[2018-01-30 09:18] #4 closed

[2018-01-30 14:55] alexellis commented on #3
Thank you for sharing your thoughts and opinions. For those who do not want to to consume HTTP within their process the forking mode will still be available.

The OpenFaaS-incubator repository contains experimental projects which do not provide a 1.0 API - that means that they are subject to change. Future versions of the watchdog will of course maintain compatibility with the [existing watchdog](

[2018-01-30 15:04] alexellis commented on #3
Derek lock

[2018-04-02 20:26] alexellis opened #10 "Implement graceful shutdown from classic watchdog"
Implement graceful shutdown from classic watchdog

See changes and notes on this commit:

https://github.com/openfaas/faas/commit/de2c74fcdb88675f9e1e46e307d8a9852eca262d

[2018-04-02 20:27] alexellis commented on #5
Sounds like an interesting idea. How would you do that?

[2018-04-02 20:53] alexellis opened #11 "serializing mode should"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Docker version `docker version` (e.g. Docker 17.0.05 ):

* Are you using Docker Swarm or Kubernetes (FaaS-netes)?

* Operating System and version (e.g. Linux, Windows, MacOS):

* Link to your project or a code example to reproduce issue:

[2018-04-02 20:56] alexellis opened #12 "Serializing mode should return 500 when exit code is non-zero"
Serializing mode should return 500 when exit code is non-zero

Unlike the classic watchdog it is returning 200 despite a non-zero exit code.

Example:

[code]

`stat x` should clearly return a non-zero exit-code and a message to stderr.

[2018-04-04 05:01] ericstoekl commented on #12
I have been looking at the code and I think I have a solution for this -- I'll take this issue if that's ok.

[2018-04-04 05:01] ericstoekl commented on #12
Derek assign: me

[2018-04-24 19:01] alexellis opened #16 "HTTP Path is not passed in to handler in http mode"
## Expected Behaviour

Paths should be forwarded to the upstream function.

## Current Behaviour

I tried to run a SimpleHTTPServer in Python and noticed the file-browser wasn't passing through the path.

## Possible Solution

Update the proxying code to pass the requestURI

## Steps to Reproduce (for bugs)

1. `port=8081 mode=http fprocess="python -m SimpleHTTPServer" upstream_url="http://127.0.0

[2018-05-04 00:59] satie commented on #16
I experienced the same issue with querystring variables not being passed to the nodejs handler. Do you plan to merge the patch anytime soon?

[2018-05-11 15:04] lapwat commented on #16
I am having the same problem: not being able to access GET parameters of the query. It would be nice if you could merge the patch.
Many thanks

[2018-05-14 13:43] lapwat commented on #16
I tried with the patch, where should I access the Query ? I tried to print Header & Body of `handler.Request` instance but I cannot find the Query.

[2018-05-15 14:01] Liwink opened #17 "Is of-watchdog ready to merge into OpenFaaS?"
Hi OpenFaas, thanks a lot for this amazing project.
May I ask whether you have any plan about when to merge of-watchdog into faas?

[2018-05-16 10:37] alexellis opened #18 "HTTP mode - Pass QueryString along to upstream_url"
## Expected Behaviour

QueryString should be available in the function when using HTTP mode

## Current Behaviour

The QueryString is not forwarded or consumed by templates

## Possible Solution

* Pass along to upstream_url.
* Update templates to read/pass the value

[code]

[2018-05-16 10:45] #18 closed

[2018-05-16 11:17] alexellis commented on #17
Hi @Liwink,

of-watchdog is released separately from this repository, I would imagine the repo moving to the openfaas org from the incubator org but it is not necessarily going to be "merged".

I'm not sure if this answers your question.. what was it you wanted to know about of-watchdog specifically?

Alex

[2018-05-16 11:17] #17 closed

[2018-05-16 11:17] alexellis commented on #5
@stefanprodan

[2018-06-07 04:14] gaurangdave opened #19 "Error deploying node8-express template to raspberrypi"
I tried to create sample express app from :

https://github.com/openfaas-incubator/node8-express-template

But I see the following error in logs after deployment.  I am new to docker/openfaas  so sincere apologies if this is due to some setup issue on my end.

[code]
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## You

[2018-06-19 09:01] rosko opened #20 "Websockets and HTTP mode"
Is it possible to use `of-watchdog` in HTTP mode to support websockets?

## Your Environment
* Docker 18.03.1
* Docker Swarm (locally) and Kubernetes (on Azure, in the future)
* Windows and MacOS locally, Linux on the server.

[2018-06-19 09:53] alexellis commented on #20
Not right now since we'd have no way of giving QoS i.e. timeouts etc.

What is the usecase for a websocket to a function? How would you see timeouts working with this?

Alex

[2018-06-19 12:10] rosko commented on #20
We can consider a websocket server as a set of event handlers: `connection`, `disconnect`, `message`. In this case, it seems possible to be implemented using functions. And timeouts can work with that concept similarly as with regular serverless functions. Does it make sense?

[2018-06-19 12:30] alexellis commented on #20
Websockets are inherently stateful with long running connections. How do you implement a timeout for an operation?

Maybe you could start with giving us a usecase in as much detail as you're comfortable with and we can try to explore the idea from there?

[2018-06-26 21:44] rosko commented on #20
@alexellis WDUT?

[2018-07-21 08:50] alexellis commented on #16
QueryString is passed, use the latest release of the project:

https://github.com/openfaas-incubator/of-watchdog/blob/master/executor/http_runner.go#L102

This issue is about the URL Path, not the QueryString.

Alex

[2018-08-09 20:01] dmrub opened #22 "Original HTTP Host header is not passed to the handler."
## Expected Behaviour

Host header should be forwarded to the upstream function.

## Current Behaviour
Since Host header is not a part of request.Header field it is not copied by the copyHeaders function.

## Possible Solution
Do `request.Host = r.Host` before `copyHeaders(request.Header, &r.Header)` in http_runner.go

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

We need to construct

[2018-08-10 08:15] ivanayov commented on #22
Derek add label: support

[2018-08-10 10:40] ivanayov commented on #22
Derek add label: support

[2018-08-10 13:06] dmrub commented on #22
I can confirm that original fwatchdog also does not propagate Host header to the handler.
**index.py:**
[code]
Run fwatchdog with `port=8081 fprocess="python index.py" ./fwatchdog`
Run `curl -H "Host: foobar"  -H "A: B" -v -d 'DATA' 'http://127.0.0.1:8081?a=b'`

**Output:**
[code]

[2018-08-10 13:43] dmrub commented on #22
In order to propagate Host header original fwatchdog need to be modified differently: https://github.com/dmrub/faas/commit/d1e2e4feba1bd34aa24f710f0f1eeb1f2dd423b8

[2018-08-10 13:57] dmrub commented on #22
I created PR for this issue: https://github.com/openfaas-incubator/of-watchdog/pull/24

[2018-08-13 15:38] ivanayov commented on #22
Thanks @dmrub
Can you please open a PR in faas?

[2018-08-13 16:09] alexellis commented on #22
@dmrub are you testing the watchdog/s in isolation or through the gateway? Is the gateway passing the host entry too?

[2018-08-13 18:58] dmrub commented on #22
I am testing both, first watchdog in isolation then watchdog in combination with gateway in Kubernetes cluster. And even after current fix my function still reports wrong Host value:
`sl1.default:8080`
`sl1` is the name of the function, and `default` is Kubernetes namespace. Instead Host should contain a name and a port of the URI which I type in browser or curl.
So I think there is the same probl

[2018-08-13 19:33] alexellis commented on #22
This is why I was asking you whether you had tested end-to-end through the gateway or not.

The Host entry is technically correct because it passes through several hops.

IngressController or LoadBalancer (www.site.com/function) -> API Gateway (Host: www.site.com) -> http://function-name:8080 -> of-watchdog (Host: function-name).

[2018-08-13 19:35] alexellis commented on #22
You will also need to raise another PR that adds the Host entry for asynchronous calls - i.e. http://gateway:8080/async-function/function-name. In this instance the Header is serialised on a queue and then rehydrated.

https://github.com/openfaas/faas/blob/master/gateway/queue/types.go#L10

https://github.com/openfaas/nats-queue-worker/blob/master/main.go#L82

[2018-08-14 08:01] dmrub commented on #22
Yes, Host header is technically correct, but I need in the function functionality to generate URLs which are relative to the host used in the original request to the gateway. One option would be to put reverse proxy like nginx and generate `X-Forward-*` headers: https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-Forwarded-Host , https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/X-

[2018-09-01 17:29] alexellis commented on #22
Where are we at with this now @dmrub ?

[2018-09-01 18:45] dmrub commented on #22
When openfaas/nats-queue-worker#34 is merged, I think it should be propagated to the vendor directory of openfaas/faas repository. Then, I think, this issue can be closed.

[2018-09-06 09:05] alexellis opened #25 "Unit test coverage needed"
Where possible let's add unit test coverage starting with config parsing/reading and then moving on to test the various handlers using [https://golang.org/pkg/net/http/httptest/](https://golang.org/pkg/net/http/httptest/).

I'd like to see a series of small and well-defined PRs. Please prioritize the HTTP mode.

Alex

[2018-09-12 12:00] feifeiiiiiiiiiii opened #26 "fprocess as daemon start don't work"
I build a image base openresty, build script in https://github.com/feifeiiiiiiiiiii/faas_template,
occur fatal error

## Expected Behaviour

I think of-watchdog should support fprocess as daemon proccess to service

## Current Behaviour

[code]

## Possible Solution

I think should judge error info, if err is EOF, we should ignore

## Steps to Reproduce (for bugs)

1. try  https://github.com/feife

[2018-09-17 07:34] alexellis commented on #26
I need to look into this in deeper detail, but the watchdogs should be effectively be considered in a code-freeze. This error occurs when the `stderr` pipe is terminated.

[2018-09-17 11:39] alexellis commented on #26
Running as a daemon is not supported. The process must run in the foreground otherwise we cannot monitor it. Can you force openresty to run in the foreground?

[2018-09-18 08:03] feifeiiiiiiiiiii commented on #26
@alexellis Yes, I can force openresty to run in the foreground

[2018-09-18 09:56] alexellis commented on #26
If you do that do we still need your proposed change or can we close this issue?

[2018-09-18 14:40] feifeiiiiiiiiiii commented on #26
@alexellis I close this issue, thanks detail answer for question

[2018-09-18 14:40] #26 closed

[2018-09-18 19:31] alexellis commented on #26
Derek lock: resolved

[2018-10-03 17:19] thomasjpfan opened #32 "Make mode=serializing be fully backwards compatible with the original watchdog"
For `of-watchdog` to take the place of the original watchdog, it should be fully backwards compatible with the original watchdog.

## Expected Behavior
Support environmental variables `cgi_headers`, `marshal_request`, and `combine_output` with their corresponding feature.

## Current Behavior
The above features are not fully supported.

## Possible Solution
Migrate over the tests and code from the

[2018-10-06 12:54] hejfelix opened #33 "JVM never receives SIGTERM (shutdownhook never called)"
## Expected Behaviour
I would expect the JVM to receive SIGTERM and then terminate.
I am running a HTTP4S scala webserver in this project:
https://github.com/hejfelix/fp-exercises-and-grading/blob/master/http4s_faas/openfaas/Dockerfile

## Current Behaviour
JVM never shuts down before docker container is killed

## Possible Solution
Not sure, it seems like watchdog is not forwarding the shutdown h

[2018-10-06 15:19] alexellis commented on #33
Hi thanks for the question. You get a graceful shutdown period built-in. This gives any HTTP requests a grace period to shut down (you should be able to read about this in the readme)

The period is connected to `write_timeout` which I see you may not be specifying correctly at present. A Golang duration is needed i.e. `20s`.

[2018-10-06 15:19] alexellis commented on #33
Derek add label: question

[2018-10-06 15:28] hejfelix commented on #33
What I'm thinking about is a hook whenever a container is taken out of commission (e.g. scale to 0, function removed, etc.). Having a warm JVM means that collecting/releasing resources on each invocation seems a bit silly, so it would be nice to know when the resources **MUST** be released.

[2018-10-07 06:06] hejfelix commented on #33
Are you saying it does indeed forward SIGTERM to the `fprocess`?

[2018-10-16 01:52] pyramation opened #34 "is there a way to configure redirects?"
When in HTTP mode, redirects seem to be proxied, not actually redirected

## Expected Behaviour

When I

1. create a server in http mode, and
2. send a redirect, for example, `res.redirect('http://google.com')`

I expect when I visit my cloud function in the browser to redirect to `google.com`

## Current Behaviour

1. I visit the cloud function in the browser
2. the URL doesn't change (e.g. `http

[2018-10-16 08:03] alexellis commented on #34
Example to reproduce the behaviour:

[code]

With the [Node template](https://github.com/openfaas-incubator/node8-express-template).

The Golang code in of-watchdog proxies up the Node HTTP process which tells it to redirect to i.e. google.com - so that's what the proxy does, it fetches the site Node is telling it to fetch.

That's why you're seeing this.

I'd be curious to see what happens if you

[2018-10-16 12:00] alexellis commented on #34
We'd have to update the Golang proxying code to support this.

This is how I did it for the auth service in OpenFaaS Cloud - I needed the router to pass back the redirect instruction to the client’s browser. https://github.com/openfaas/openfaas-cloud/blob/3d3ed09707817b436751b279973d6f26191930a4/router/main.go#L34

cc @LucasRoesler

[2018-10-16 18:00] pyramation commented on #34
I just added an example repo with a bare microservice (as @alexellis suggested) here https://github.com/pyramation/redirect-openfaas-example

<img width="243" alt="screen shot 2018-10-16 at 10 59 22 am" src="https://user-images.githubusercontent.com/545047/47036992-9c8f3100-d132-11e8-80b4-b362092c4b64.png">

Here are my results:

My first route (just a text response) is A-OK:

![screen shot 2018-1

[2018-11-07 14:43] rgee0 opened #38 "Provide X-Duration-Seconds in HTTP response"
## Expected Behaviour
Similar behaviour to the classic watchdog:
[code]

## Current Behaviour
[code]

## Context
Consistent experience across classic and of-watchdog.  Greater compatibility for users once they migrate to of-watchdog

[2018-11-10 09:37] alexellis commented on #33
Hi @hejfelix I would be curious as to what Lambda, Google Functions or Azure Functions do in this scenario. If they do pass on SIGTERM then we should investigate it.

Alex

[2018-11-10 09:38] alexellis commented on #33
Kubernetes has a rather complicated shutdown procedure regarding health-checks which does not make things easy. cc @LucasRoesler @stefanprodan

[2018-11-10 09:46] alexellis commented on #38
The HTTP mode has been handled via b899713

The other modes are still pending the fix.

[2018-11-10 12:59] hejfelix commented on #33
My experience with AWS Lambda was that there was no shutdown hook. This essentially meant that I wasted a lot of time acquiring and releasing resources on every invocation. This defeats the purpose of having a warm function.

[2018-11-10 18:59] LucasRoesler commented on #33
There are a [couple of things that happen during shutdown in a k8s pod](https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods)

1. the Pod is marked as terminated/deleted, this also removes it from various Endpoints and Services in k8s
2. the [`preStopHook` is executed](https://kubernetes.io/docs/concepts/containers/container-lifecycle-hooks/#hook-details), this allows the Po

[2018-11-10 19:16] hejfelix commented on #33
Interesting -- I am running on docker swarm in all my tests so far. Is that supposed to behave the same way? I guess I'm struggling to find a way to verify that my shutdown hook is run since nothing appears in docker service logs after node is taken down. Any ideas?

[2018-11-10 19:47] LucasRoesler commented on #33
Probably the simplest way to verify it is to send a message somewhere, e.g. to [RequestBin](https://requestbin.fullcontact.com/) .  If you are certain that your shutdown hook runs on SIGTERM _and_ If you don't get a message, then that means you didn't get a SIGTERM

[2018-11-11 11:07] hejfelix commented on #33
Right, so I'm not getting any shutdown hook. This is my scala code:

[code]

[2018-11-11 11:14] hejfelix commented on #33
Im starting to believe the problem occurs because my web framework is not reacting to sigterm. Will investigate now and return.

[2018-11-14 10:37] alexellis opened #39 "Override to disable chunked encoding in HTTP mode"
## Expected Behaviour

We could offer an env-var override to disable chunked encoding in HTTP mode. The side-effect is that we would have to cache the request in memory before proxying it to the upstream_url - but this also adds greater compatibility with frameworks like PHP Swoole.

## Current Behaviour

PHP Swoole for instance cannot support transfer-encoding of chunked.

## Possible Solution

I

[2018-11-18 16:49] #39 closed

[2018-11-27 00:13] rosko commented on #20
@rvanzon not yet :)

[2018-12-28 15:00] omrishtam opened #42 "fprocess cuts out command options which contain '='"
Setting a command to fprocess which is containing a '=' character is being cut out after the '=' character.

## Expected Behaviour
When setting `fprocess="node --max_old_space_size=4096 index.js"` it should execute the index.js script with the given `--max_old_space_size` option set to whatever value is given to it (4096 in this example).

## Current Behaviour
When setting `fprocess="node --max_ol

[2018-12-28 15:50] alexellis commented on #42
Hi if you are changing the fprocess then you must have your own template.

Why don't you create an entrypoint.sh bash script that runs node with all the various options you care about? An alternative is to look at which of these variables are available as environmental variables and to set them that way.

I do this for debugging Node.js

Hope these two solutions are useful for you.

Alex

[2018-12-28 16:30] alexellis commented on #42
@omrishtam I've taken a look at the code and written some unit tests to cover the scenario you raised.

I'll be pushing a fix to address the parsing of the arguments array from `fprocess`, but using the environmental variable is what I would recommend for you so that you don't have to hack on or fork the templates and then maintain them out of tree from upstream.

You can add `NODE_OPTIONS` easily

[2018-12-28 16:31] #42 closed

[2018-12-28 16:39] omrishtam commented on #42
Hi 😄,
Thanks for the quick response,
I'll be using the environment section in my YAML file for now, until a fix is released.

Omri

[2018-12-28 16:50] alexellis commented on #34
Hi @pyramation thanks for your help with this 👍

The feature/fix is release and generally available.

Alex

[2018-12-28 16:50] #34 closed

[2018-12-28 16:52] alexellis commented on #38
@ivanayov would you like to pick up the fix for the other remaining modes when you come back from the holidays?

Alex

[2018-12-28 16:54] alexellis commented on #42
I've published a new release as:
https://github.com/openfaas-incubator/of-watchdog/releases/tag/0.4.6

Alex

[2018-12-28 16:56] alexellis commented on #42
We welcome contributions to the project, an initial contribution could be to update the of-watchdog version in some of all of the incubator templates listed in the template store?

Would either of you like this or should I find someone else? (please note you have to type in `git commit -s` rather than `git commit` or editing in the UI for changes to be accepted by the Developer-Certificate of Orig

[2018-12-29 09:52] omrishtam commented on #42
Sure!
How do you want us to do this?
Should we clone each repo and branch from master and make the change for the Dockerfiles and open a PR for the commit?

Omri

[2018-12-29 12:34] alexellis commented on #42
That's basically the pattern right now. We could do with thinking about whether it can be automated in the future.

[2018-12-30 09:46] omrishtam commented on #38
Since the afterburn mode is meant to be deprecated, there's no need for the header in there too.

As for the streaming mode (the default) it's said that HTTP headers cannot be sent after function starts executing.
So there's no need to even try providing the header there since its value can only be known after function starts executing.

@alexellis already added the header for the HTTP mode,
so th

[2018-12-30 09:58] alexellis commented on #38
SGTM

[2018-12-30 17:09] alexellis commented on #38
Derek close: fixed

[2018-12-30 17:09] #38 closed

[2018-12-30 17:09] alexellis commented on #38
Thank you both.

[2019-01-09 12:27] dschulten opened #44 "Support streaming multipart/formdata with of-watchdog"
## Expected Behaviour
It should be possible to post a multipart request to the watchdog and work with the parts in such a way that Content-Disposition header information (such as the filename) is available to the function.

If there is only one part, feed it to stdin.

If possible, allow to access multiple parts by their names as stream, too.

Make [content-disposition information](https://develop

[2019-01-10 10:29] alexellis opened #45 "Add Lambda Custom Runtime mode"
Add Lambda Custom Runtime mode

## Expected Behaviour

The of-watchdog has several modes including http, streaming and a classic mode which simulates the classic watchdog.

I carried out a PoC that showed we can support functions directly from AWS Lambda using the new custom runtime and published the first solution of its kind on GitHub. The code was just a PoC and needs some refactoring to be har

[2019-01-10 22:38] #22 closed

[2019-01-13 09:33] alexellis commented on #19
You should only need to type in:

[code]

From there edit the handler.js to change the result you return depending on your needs and add any npm modules you want to consume too.

[2019-01-13 09:44] alexellis commented on #19
I have no issues at all accessing my new function on an RPi:

[code]

It seems like the template is still working as designed, so I would suggest you both join the Slack community and send a message there with your GitHub repo so the community can help you.

https://docs.openfaas.com/community

[2019-01-13 09:44] #19 closed

[2019-02-01 21:21] alexellis commented on #45
@ewilde had volunteered to take this on.

Any update since we spoke Ed?

[2019-02-02 07:33] ewilde commented on #45
No progress made on this yet

[2019-02-05 18:34] kdubuc opened #47 "Serializing mode sends nothing in stdin"
How serializing works ?

## Expected Behaviour
Hi all, I use serializing mode, and I get nothing in STDIN (while streaming works).
Overall, how to use serializing mode ? I want to manipulate the stdin request and set status code, body, headers ... inside my handler, and send out to the stdout. I think it's the best suited mode, but i can get nothing.

## Current Behaviour
[code]

With a PHP script

[2019-02-05 18:44] alexellis commented on #47
You can't do that with the serialising mode, what gave you that impression?

You must use http mode to set explicit headers.

If that's something you need to do then look at my example template with of-watchdog and Swoole (PHP) https://github.com/alexellis/php7-swoole-template

Alex

[2019-02-05 18:45] alexellis commented on #47
Derek add label: support

[2019-02-05 18:57] alexellis commented on #47
If you need help please join us on Slack as advised on the website. https://docs.openfaas.com/community - there you can join the #templates channel and chat with us more.

[2019-02-06 09:05] kdubuc commented on #47
Thanks for your replies.

The power of openfaas I think is the ability to use any docker images, and turn them into a powerfull FaaS in a microservices universe. The watchdog is a tiny layer, to make it happen. Ideally, the FaaS Dockerfile should be independant of the gateway, but this is a little compromise.
So, I like the fact i can build my Dockerfile, and have total control over them (reposito

[2019-02-07 01:12] ryskiwt opened #48 "Function terminates as soon as it starts when exec_timeout = "0s""
Dear maintainers,

README says that execution timeout will be disabled if exec_timeout is set to 0.

However, when I set exec_timeout to 0, my function terminated as soon as it starts.

## Expected Behaviour
Function never terminates while it is running.

## Current Behaviour
Function terminates as soon as it starts.

docker swarm log says:

[code]

## Possible Solution
Maybe this line causes imme

[2019-02-07 01:58] ryskiwt opened #49 "Chunked response from function is blocked by watchdog"
Dear maintainers,

I wrote my template that is similar to https://github.com/openfaas-incubator/python-flask-template/tree/master/template/python3-flask.

The different from the original is that my template uses stream response (or, chunked response) as follows.

[code]

When I invoke a function from the template, the function does not return response chunk by chunk.
It blocks 3 seconds, and then,

[2019-02-09 07:25] ryskiwt commented on #49
I found a hint to solve this issue in `httputil` package's `ReverseProxy.copyBuffer` method.

https://golang.org/src/net/http/httputil/reverseproxy.go#L335

`copyBuffer` method reads response little by little and writes to `maxLatencyWriter`

https://golang.org/src/net/http/httputil/reverseproxy.go#L366

and `maxLatencyWriter` flushes periodically.

https://golang.org/src/net/http/httputil/reverse

[2019-02-20 01:50] brandonkal opened #50 "Upstream HTTP request error"
I am using OpenFaaS for a long running process. (Currently 3 minute jobs but plan to scale this up to 2 hour jobs).

I am using async-function to queue these jobs with a callback url.
I am also using the golang-http template.

[code]

It is not clear to me why this is set to 127.0.0.1:8081 as no docker containers are running on this port. I assume that this is the port the of-watchdog go process i

[2019-02-20 02:41] burtonr commented on #50
I experienced this just today as well. This is an issue with Go and how the connections are handled. Sorry I can't provide a solution off-hand, but know you're not the only one!

In my case, I am using the go-http template as the process function where this function calls out to 3 others to complete a workflow. I receive that error on the last of the 3 calls. The call succeeds, but the error is st

[2019-02-20 02:48] brandonkal commented on #50
@burtonr were you able to resolve this?

It looks like the request is occuring here rather than in my handler code:
https://github.com/openfaas-incubator/of-watchdog/blob/85505a7210cf413e455f8a03d74ba94d9a9fcd30/executor/http_runner.go#L119-L134

[2019-02-20 02:57] burtonr commented on #50
I was not able to solve this. Since it's the last function call, and the call still succeeds, I moved on. Most of the team on this project are in the European time zones, so I was going to ask when they were available.

Based on that StackOverflow answer, I would say that you're probably right. Adding `request.Close()` there _may_ fix it. I'll give it a try and see what happens!

[2019-02-20 04:08] brandonkal commented on #50
I have added `request.Close = true` below line 124 and that did not resolve the problem.

[2019-02-20 05:29] brandonkal commented on #50
@burtonr After a bunch of debugging it appears the issue is occurring here:

https://github.com/openfaas-incubator/golang-http-template/blob/4783533d117fcd65d16aa8557aff38e164a889e0/template/golang-http/main.go#L63-L64
[code]

That value is currently hard coded, but when I increase it I get this:
[code]
instead of this:
[code]
Perhaps this will help you.

I am not sure why that connection has to p

[2019-02-20 05:45] burtonr commented on #50
Interesting. What did you set those values to?

Those values should be configurable via environment variables `read_timeout` and `write_timeout`

I'll wait until @alexellis comes back online to check with him. I'm sure he can provide better input.

I know this template is one of the more popular ones, and I haven't heard of this issue before. It's possible either we're doing something not quite ri

[2019-02-20 07:44] brandonkal commented on #50
With this test function, I tested with a 20 sec value:
[code]

For my app, I am using 14400s.

[2019-02-20 08:10] alexellis commented on #50
These values need to be made configurable in the specific template that you've chosen. a proposal for this on a specific repository would be welcome.

What you might want to do in the interim is use the standard go template which already supports a configurable time out value.

[2019-02-20 08:23] brandonkal commented on #50
@alexellis I have made a PR here:
https://github.com/openfaas-incubator/golang-http-template/pull/20
I did this all in the GitHub web ui os no signoff option. But I am mostly looking for feedback to see if the specific approach makes sense.

[2019-02-20 09:09] alexellis commented on #50
Looks like this was already raised in October 2018, but nobody from the community volunteered to work on it.

https://github.com/openfaas-incubator/golang-http-template/issues/9

Alex

[2019-02-20 09:09] #50 closed

[2019-02-21 04:19] brandonkal commented on #50
Unfortunately it appears this issue is still not resolved. I am running into a 10s timeout  even with my modifications to the golang-http-template.

[2019-02-21 07:34] alexellis commented on #50
@brandonkal did you delete your comment? I just got an email from GitHub

[2019-03-02 19:46] alexellis commented on #48
Hi thanks for raising this issue and for your interest.

IMHO `f.ExecTimeout != 0` seems like a bad idea, we should use Golang durations.

I would suggest we add validation in the function that aborts the process if "0s" is set in the code.

Alex

[2019-03-13 21:18] chucklay opened #51 "Suggestion: Make default timeouts clearer"
Hey all,

In the documentation, `read_timeout`, `write_timeout`, and `exec_timeout` are explained, but their defaults are not mentioned. This can be a huge headache while troubleshooting as the error raised by a timeout doesn't always specify that a timeout is to blame.

## Expected Behaviour
Mention that the default timeouts are `"10s"`

## Current Behaviour
Pretty self-explanatory.

## Context
I

[2019-03-13 21:25] alexellis commented on #51
Hi thanks for your suggestion. We'll look into this.

This is covered in the troubleshooting guide which is prominent in the docs and it's also covered by the workshop (also in the docs) which we recommend everyone goes through.

The timeouts can be customised, depend on different factors and are set for different parts of the project which is why you don't see an exact number front and centre in

[2019-03-13 21:25] alexellis commented on #51
Derek add label: support

[2019-03-13 21:26] alexellis commented on #51
Derek set title: Suggestion: Make default timeouts clearer

[2019-03-29 04:37] ryskiwt commented on #48
Hi, alexellis. Thank you for your reply.

Why should the function abort if "0s" is set?
README says timeout will be disabled if 0 is set.

Is README necessary to be fixed?

[2019-03-29 07:37] alexellis commented on #48
The string says `0` not `0s`.

Alex

[2019-03-29 07:37] #48 closed

[2019-04-02 21:53] sargun opened #52 "Proposal / Question: Concurrency Limiting"
## Expected Behaviour
It would be nice to be able to limit the number of concurrent requests in flight. For example, if I have a workload where the amount of memory per request uses up to 2GB (let's say we disable GC), and I have 9 GB of memory, I can safely keep 4 requests in parallel. If I accidentally invoke the 5th request, my container will explode, killing everything.

## Current Behaviour
T

[2019-04-03 07:53] alexellis commented on #52
Hi thanks for your suggestion.

Please read the full contribution guide and edit your proposal so that it lines up with the guidelines provided for you by the maintainers and community.

https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#i-have-a-great-idea

Your suggestion is a good starting point, but is missing many key details including examples of how to concretely reproduce the iss

[2019-04-03 08:47] sargun commented on #52
Do you prefer I edit the original comment in place, or append comments to the thread?

I guess what I find unclear is what you mean by "how to concretely reproduce the issue", after looking at the proposal guidelines. The specific issue is that I have an ffmpeg process which takes 2GB of RAM to start, and if too many start at the same time, then the container gets terminated by the OOM killer.

Th

[2019-04-03 09:29] sargun commented on #52
Also, I had a slight misunderstanding of the contributing.md. I read:

But it sounds like:

It's very difficult to estimate the cost / complexity / perf implications of a change like this without writing the code. Especially, concurrency-oriented code, where concurrency testing can be difficult. FWIW, I wrote a much more "go-esque" channel based implementation, but it didn't work out from a perfor

[2019-04-03 09:39] dschulten commented on #44
See https://github.com/openfaas-incubator/python-flask-template/pull/17 for a possible solution

[2019-04-03 18:50] alexellis commented on #52
Hi @sargun

As I mentioned before this is definitely something that I am aware of and that we have talked about before.

Say hello to Justin for me?

I've had a detailed discussion with @stefanprodan and think this is a suitable approach. It also needs to be replicated in the classic watchdog in the openfaas/faas repo.

I think for this to be turned on for users we need to add a retry with exponen

[2019-04-03 18:51] alexellis commented on #52
I've gone ahead and created a sample repository with which the issue can be reproduced and tested before/after: https://github.com/alexellis/fill-memory-limits (this is what I was asking for earlier)

[2019-04-03 18:53] alexellis commented on #52
An additional consideration is that this doesn't help users who are working with Docker images that conform to the OpenFaaS workload - i.e. a stateless Microservice such as a Vert.x app which has decided not to package the of/watchdog inside its container.

At that point perhaps they just need to add the shim and this feature make a better case for having it.

[2019-04-03 19:27] sargun commented on #52
I think if you natively implement the API, and you're a stateless microservice in something like Dropwizard, or Spring boot, your web services API probably gives you the right tools to be able to do concurrency limiting.

Ah, I guess I didn't understand that you wanted a specific implementation of the use case. I'll reopen the PR.

I can add the same mechanism to the classic watchdog as well.

[2019-04-04 04:17] sargun opened #55 "Linters?"
# Brief summary including motivation/context:
This is more of a meta-issue. I'm curious as to whether there's any interest in adding a linter to the project. I tested `golangci-lint`, and it runs in 1.685 seconds. I used the following config:

[code]

It showed the following output. Although most of these lint identifications aren't super important, some of them might catch places where the code c

[2019-04-04 04:34] sargun commented on #32
@alexellis is this and #10 the only remaining items to be able to supplant the old watchdog?

[2019-04-04 07:03] alexellis commented on #55
Derek add label: proposal

[2019-04-04 07:05] alexellis commented on #32
Hi I am not clear what the question is. There are two supported watchdogs at present.

For the forking mode we have the classic watchdog and for HTTP mode we are using this watchdog. Both watchdogs are used by the end user community in templates.

https://docs.openfaas.com/architecture/watchdog/

[2019-04-04 08:00] alexellis opened #56 "Add RED metrics"
## Add RED metrics

As an operator I want to enable HPAv2 auto-scaling with custom Pod metrics on Kubernetes.

## Task / testing

Syncing the patch from:

https://github.com/openfaas/faas/pull/1151

[2019-04-06 19:43] alexellis commented on #56
Derek close: merged / released

[2019-04-06 19:43] #56 closed

[2019-04-06 19:43] alexellis commented on #52
Derek close: merged / released

[2019-04-06 19:43] #52 closed

[2019-04-06 19:56] alexellis commented on #55
@sargun thanks for writing up your proposal and for covering the points suggested in the contribution guide :+1:

Linting and static code analysis is definitely something very widely used with OOP languages like Java and C# (sometimes with the Python community and PEPs), but I haven't encountered this much in the Go community. This is the first request for linting since the project started in 2016

[2019-04-06 19:57] alexellis commented on #51
Derek close: README updated

[2019-04-06 19:57] #51 closed

[2019-04-09 06:41] sargun commented on #55
I've seen linting used in the following projects to enforce Code "correctness":
* Docker: https://github.com/moby/moby/blob/master/hack/validate/gometalinter
* Virtual-kubelet: https://github.com/virtual-kubelet/virtual-kubelet/blob/master/.circleci/config.yml#L12-L17
* mesos-dns: https://github.com/mesosphere/mesos-dns/blob/master/circle.yml#L35
* Kubernetes: https://github.com/kubernetes/repo-in

[2019-05-09 21:41] lucasvfventura commented on #20
@alexellis My team is using GraphQL and we use subscriptions to push events to the UI that were triggered by other users. Subscriptions use Websocket behind the scene. This is the only point keeping us to move to a completely serverless solution.

Serverless.com with AWS supports it with the "new" API Gateway websockets api, but it isn't available yet in my GraphQL framework integration with the s

[2019-05-30 08:36] alexellis opened #59 "Publish Docker multi-arch images"
## Expected Behaviour

We should publish a Docker image for each binary we produce and then create a multi-arch manifest to collect them all together.

This gives a speed boost, but also makes the Dockerfiles easier to manage and update.

## Current Behaviour

Download via curl in each Dockerfile

## Possible Solution

See how this was done in the openfaas/faas project by myself and @rgee0 and how

[2019-05-30 08:38] alexellis commented on #59
https://github.com/openfaas/faas/blob/master/.travis.yml

https://github.com/openfaas/faas/blob/master/watchdog/make_manifest.sh

https://github.com/openfaas/templates/blob/master/template/go/Dockerfile#L9

[2019-06-04 18:06] #59 closed

[2019-06-04 18:08] alexellis opened #61 "Add Travis / Go & OpenFaaS GitHub badges to README.md"
## Expected Behaviour

We should have Travis / Go & OpenFaaS GitHub badges in our README.md file just like openfaas/faas openfaas/faas-netes openfaas/faas-cli and etc.

## Current Behaviour

Not shown, manually have to discover the build if it's passing/failing or a PR etc.

## Possible Solution

See the repos mentioned above and retrofit for this project.

[2019-06-13 17:08] alexellis opened #64 "Parse integer, non-Duration timeout values"
## Expected Behaviour

The classic watchdog supports parsing integer values i.e. `60` and interpreting that as `60s` whenever a non-golang duration is given. of-watchdog should do that too, but @bmcstdio mentioned he didn't see that.

## Current Behaviour

Only supporting Golang duration.

https://github.com/openfaas-incubator/of-watchdog/blob/master/config/config.go#L118-L127

## Possible Solutio

[2019-07-08 14:45] alexellis opened #66 "Add one-shot mode"
## Expected Behaviour

To enable the "batch job" use-case, users should be able to specify a "one shot" mode or parameter. This would allow unlimited requests to /healthz and /metrics, but only a single request to `/`, after which it would shutdown the binary process.

This is partially to work around limitations in Kubernetes jobs with daemons, web-servers and side-cars which keep the job in a "r

[2019-07-08 14:46] alexellis commented on #66
@LucasRoesler @stefanprodan WDYT?

[2019-07-08 15:15] alexellis commented on #66
Related to: https://github.com/openfaas/faas/issues/657

[2019-07-09 08:35] LucasRoesler commented on #66
@alexellis without a sidecar, how would the request to `/` be sent?

[2019-07-09 08:36] alexellis commented on #66
Sorry I don't understand the question.

[2019-07-09 10:16] alexellis commented on #66
The batch job use-case would be like I shared in my tweet in the original post above.

Container 1 - curl or similar process - calls 127.0.0.1:8080 with payload
Container 2 - OF container built with of-watchdog or classic watchdog in "one shot" mode

Result of invocation is available via STDIO, or with Container 3 which would save away the result.

[2019-07-09 10:17] alexellis commented on #66
The overall workflow would be out of scope for this flag / feature addition. The suggested feature is simply a graceful shutdown after processing a single HTTP invoke request.

[2019-07-10 11:59] csakshaug opened #67 "Information about where the http server is listen and serve on"
Give information where the http server listen on

## Expected Behaviour
It could be nice to see which addr/port the http server is listen on

## Current Behaviour
You need to know that the port 8080 is default, and in binds to 0.0.0.0.

## Possible Solution
Give information before binding the http server or when it actually is bind

[2019-07-11 09:31] csakshaug commented on #67
Release 0.5.4 👍

[2019-07-11 09:31] #67 closed

[2019-07-26 02:37] chennqqi opened #70 "of-watchdog can't be auto scaled?"
I  created a of-watchdog which using go-http template.
set `max_inflight: 5`
with 80 Concurrent request. this was still only one pod instance on k8s

[2019-07-26 02:50] burtonr commented on #70
The `max_inflight` parameter is used to limit the maximum number of requests that can be handled at a time.

For scaling, please reference the docs on [Auto-scaling](https://docs.openfaas.com/architecture/autoscaling/)

Also, perhaps working through the labs ([Lab 9 on auto-scaling](https://github.com/openfaas/workshop/blob/master/lab9.md)) would help.

[2019-07-26 02:50] burtonr commented on #70
Derek close

[2019-07-26 02:53] burtonr commented on #70
Derek close

[2019-07-26 02:53] #70 closed

[2019-07-26 07:49] alexellis commented on #70
/lock

[2019-07-29 16:51] kwojcicki opened #71 "write_debug isnt used"
From my experimenting with the of-watchdog and looking at the code it seems the write_debug env variable is currently not used .

## Expected Behaviour
Either write_debug is removed from the docs or it is implemented as specified by the README.MD

## Current Behaviour

## Possible Solution
Temporarily remove write_debug from the docs until it is implemented.

## Steps to Reproduce (for bugs)

1.
2

[2019-07-29 20:42] alexellis commented on #71
Hi, thanks for your issue.

The status of the repo shows that this is not yet available:

https://github.com/openfaas-incubator/of-watchdog/blob/master/README.md#configuration

Alex

[2019-07-29 21:08] kwojcicki commented on #71
Wow sorry I am blind :laughing:

[2019-07-29 21:15] alexellis commented on #71
I think it's ok to track this.

[2019-07-29 21:16] kwojcicki commented on #71
I can change this to track the progress of implementing write_debug :)

[2019-08-01 22:08] kwojcicki commented on #71
Hey @alexellis  I was taking a look at what would be needed to get write_debug working.

In the code I see https://github.com/openfaas-incubator/of-watchdog/blob/master/executor/http_runner.go#L72 from my understanding this doesn't work as the forked process never ends (until of course the pod gets killed) meaning we can never read from the standardInPipe.

It seems some languages can allow output

[2019-08-02 16:42] alexellis commented on #71
I don't think that's the reason that the output cannot be printed. In order to print the output, we first have to buffer it in memory and that's something which wasn't done in the HTTP implementation.

https://github.com/openfaas-incubator/of-watchdog/blob/master/executor/http_runner.go#L111

[2019-08-02 16:44] alexellis commented on #71
`write_debug` is supposed to print the output of the function response.

We can do that easily by checking the flag and printing the content here:

https://github.com/openfaas-incubator/of-watchdog/blob/master/executor/http_runner.go#L183

It turns out that *we do buffer* the response.

[2019-08-02 16:45] alexellis commented on #71
In the HTTP mode we do not use STDIO for function input or output.

See this diagram:

![](https://docs.openfaas.com/architecture/watchdog-modes.png)

https://docs.openfaas.com/architecture/watchdog/#of-watchdog

[2019-08-02 17:29] kwojcicki commented on #71
@alexellis ah okay so if someone uses the http mode they themselves are responsible for packaging up the logs in the http response and then write_debug will print out the response in the logs. So the response from the function may look like ```{"body": {"logs":"lots of stuff from all my system.out.println or fmt.println", "actual-response": "..."}}```?

[2019-08-03 10:43] alexellis commented on #71
What is it you're trying to get to?

`write_debug` is so that the response of the function is written to the container logs, is that what you are looking for?

Alex

[2019-08-07 16:54] kwojcicki commented on #71
With the old watchdog one was able to view the actual functions logs which was helpful for debugging.

I was thinking that `write_debug` would print the stdout + stderr of the forked processed. Or is there already a method for getting those function debug logs?

[2019-08-08 02:26] cconger opened #72 "Better Support for Structured Logging"
## Expected Behaviour
Structured Logging messages should not be split between lines.  I want my message to appear:

[code]

## Current Behaviour
Currently the behavior is to slurp 256 bytes per log line. This can cause long messages like the one above to be split:

[code]
[code]
## Possible Solution
Use the token Scanner for newlines from `bufio` instead of a fixed buffer size.

## Context
My func

[2019-08-08 06:45] alexellis commented on #72
Hi @cconger,

Thanks for using OpenFaaS. I can see how this would be problematic for your use-case.

The size of 256 should have been configurable. I seem to remember a PR to the classic watchdog or to this one perhaps (it doesn't appear to have been merged).

Would that above also be suitable for what you're looking for? ☝️

What would happen if you were scanning for a new-line, but your function

[2019-08-08 06:45] alexellis commented on #72
/msg: slack

[2019-08-08 06:46] alexellis commented on #72
I also want to make sure you've read the [guidelines on contributing](https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#i-want-to-contribute-on-github), so I'll leave a link here.

[2019-08-08 08:33] cconger commented on #72
Thanks for taking a look!

I should add tests for the case where no newline comes through, but I believe the golang impl has it terminate/flush after [64k](https://golang.org/src/bufio/scan.go?s=3678:3708#L76) but I should verify this by adding some tests.

My feeling is that I would ideally like the logging functionality to be as similar to the wrapped application as possible and have that wrappe

[2019-08-08 08:58] cconger commented on #72
If the guidelines comment is regarding that I seemingly had a solution before a problem, thats fair but I'm not fixated on this as the approach, if you believe that a larger parameterized buffer is the preferred path I'm happy to go that way.  But I believe I gave more clarification into my goals of having the underlying application be the driver for formatting log files.

[2019-08-08 12:50] matipan opened #74 "Add a new `static` mode for serving static content"
## Expected Behaviour

Template creators would specify a new mode called `static` that would allow them to serve static content that they specified over http.

## Current Behaviour

Users cannot use the watchdog for serving static content. They would have to create their own static server or use an existing solution like nginx.

## Possible Solution

We would have a new mode called `static` and a

[2019-08-08 12:50] matipan commented on #74
Derek assign: me

[2019-08-08 18:57] alexellis commented on #72
Thanks for taking a look at the contribution guide. Would you like to create an issue if there isn't one already and write up a bit more about the the requirements or problem?

I'm interested in seeing this working well.

[2019-08-09 00:13] cconger opened #75 "Watchdog should be passthrough for function process for logging"
## Expected Behavior
In the cases where invocation is not utilizing the stdout/err pipes for communication with the watchdog the watchdog should not modify or impose structure on the logs passing through from these event streams.  This allows me as an application author to manage how my logs are presented in order to be processed downstream, for example if I wanted to use structured logging such a

[2019-08-09 00:14] cconger commented on #72
Closing this in favor of #75 which I think captures the proposal at a higher level.

[2019-08-09 00:14] #72 closed

[2019-08-09 19:26] alexellis commented on #74
I'm thinking `static_path` for the folder.

[2019-08-10 08:21] stefanprodan commented on #75
I would make the buffer size configurable via an environment variable that can be set in the function definition.

[2019-08-10 08:24] alexellis commented on #75
+1 @stefanprodan

I've found the PR I mentioned on #72, [#37 attempted to add configurable buffer sizes](https://github.com/openfaas-incubator/of-watchdog/pull/37/files)

I think that this is the mechanics of what we'd want:

https://github.com/openfaas-incubator/of-watchdog/pull/37/files#diff-194c7aaf3d69dbfd1dc1fb6c6837cd18L72

What is confusing about the old PR, is that it looks like I wrote it

[2019-08-10 08:53] stefanprodan commented on #75
I propose a single env variable for both stdout/err named `log_buffer_size`.

[2019-08-10 17:37] LucasRoesler commented on #75
the proposal mentions a couple of things

1) buffering (or not) the message and the buffer size
2) the merging of the function stderr and stdout by watchdog
3) watchdog specific logs are interwoven with function logs

for topic (1) I am also in favor of a new env variable `log_buffer_size`. Increasing the default buffer might also make sense. If a true streaming solution existed, I would prefer th

[2019-08-13 08:20] #74 closed

[2019-08-14 18:55] cconger commented on #75
I'm for adding the `log_buffer_size` param.  I would also enjoy both stderr and stdout to be passed to their appropriate outputs sans prefix.  I think these two changes make it possible for the end user to control their experience with logging largely.

I want to experiment a little bit, but I believe on posix that the reads will be usually aligned to pipe fd flushes so a sufficiently large buffer

[2019-08-20 23:40] cconger commented on #75
I've submitted a new PR that adds this parameter, however while playing with it more I remain a relatively strong proponent of the Scanner approach in #72.  It affords a core library solution to a dynamically sizable buffer, with system agnostic handling of new lines.  I would however want to update it to write to the appropriate out file (Stdout => Stdout / Stderr => Stderr)

The benefit one gets

[2019-08-22 11:09] LucasRoesler opened #78 "Update Docker build layer to go 1.11.13"
Per the security announcement https://groups.google.com/forum/#!topic/golang-announce/65QixT3tcmg we should update the docker build layers to at least Go 1.11.13

## Possible Solution

The builder layer in the Dockerfile should use `golang:1.11`

## Related
### Update Dockerfile and rebuild/release
https://github.com/openfaas/faas/issues/1291
https://github.com/openfaas/templates/issues/170
https:

[2019-08-22 13:51] #78 closed

[2019-08-22 13:51] alexellis commented on #78
https://github.com/openfaas-incubator/of-watchdog/releases/tag/0.6.0

[2019-08-25 16:43] cconger commented on #75
Hey there, I'd appreciate some insight into whether the initial assertion of the issue matters to this project.  Should the wrapped application function be the responsible for the shape and format of logs?  It seems like an obvious win for portability and flexibility to me but if that view isn't held I understand why I seem to be pushing in a different direction than you all.

[2019-08-29 20:02] alexellis commented on #75
Hi @cconger

I am concerned about changing the behaviour in this way, but I need more time to dedicate to your problem and am having to prioritise other work and features.

An alternative to using the of-watchdog, is to use a Dockerfile, you can still use the templating system if you want.

What are your thoughts about this blog post? If you're using the `http` mode, then it will be relatively str

[2019-08-29 20:05] alexellis commented on #75
The last comment from Lucas/Stefan/myself was about adding `log_buffer_size`.

Would you like to send a PR for this? It will be easy to merge, or do you feel that you need the line-scanner for structured logging to work?

[2019-08-29 20:08] alexellis commented on #75
@LucasRoesler can you explain the context, or what you mean by this? What has log collection got to do with the use of `log.Printf()`, which prints a prefix? Pass-through of stdio sounds like it's essential for structured logging.

[2019-08-29 20:10] cconger commented on #75
I have a pr of #77 that does the log_buffer_size.  It however raised interesting concerns about preserving lines from the wrapped process and having a consistent prefix for log lines which @LucasRoesler noted in his comment when I removed `log.Println`.  Because I do not easily see how you can have both a guaranteed prefix on each new line (ideal) and also have a 1:1 mapping of lines in of-watchdo

[2019-08-29 20:13] alexellis commented on #75
Is there a way that it makes sense to preserve the existing behaviour, and add your tokenised scanner, so that the two code paths work separately?

[2019-08-29 20:15] cconger commented on #75
Certainly, it can be flagged behavior.  However, I'm unsure why anyone would prefer the existing behavior.  I say that not out of judgement but I just do not see the use case and would enjoy accounting for it.

[2019-08-29 20:16] alexellis commented on #75
I guess for backwards compatibility, because this could be a breaking change. Some functions may not write a new-line, in which case, how would the scanner work?

[2019-08-29 20:18] alexellis commented on #75
This approach looks fine to me https://github.com/openfaas-incubator/of-watchdog/pull/73

If we wanted to have some level of backwards compatibility then perhaps you could add something like?

`bindLoggingPipe` - without scanner
`bindScanningLoggingPipe` - with `\n` scanner

Given this rather bold statement, I am starting to wonder if I am not understanding something obvious?

[2019-08-29 20:20] cconger commented on #75
In the case where no newlines were sent the scanner would flush the entire buffer at process conclusion or once the buffer's limit had been hit 64kb.

While I appreciate that its existing behavior its odd to me that someone would expect to write 256 bytes exactly to an output and count on that getting mapped to a line based textual output.  In the case that its some streaming protocol thats not te

[2019-08-29 20:41] cconger commented on #75
I'm happy to decouple the 2 proposals that are inside of this issue if it helps ease concerns about change.
1. Remapping the output file descriptors (using both stderr and out)
2. Changing output slurping/tokenization from the wrapped file descriptors.

I think 2 is the most important, largely because 1 gets undone by the Kubernetes log driver.

[2019-08-29 20:44] alexellis commented on #75
#73 is merged now. I like the solution and the design. It was very refreshing to see the testing and output too, that makes it a lot easier to merge.

I've asked on the PR if you could do a smoke test with two of the more popular templates. Perhaps if that looks good, you could submit a PR to bump of the version in their respective `Dockerfiles`?

[2019-08-29 20:46] alexellis commented on #75
Could you summarise what remaining changes you feel need to be made?

[2019-08-29 22:09] cconger commented on #75
I feel that the issues I was experiencing have been resolved.  I feel comfortable writing to the log in an application controlled way and easily parsing the resulting output with existing tools.
I believe we've addressed all three of the original issues raised in the body.
What I am working on:
• I'm following up on [your comment](https://github.com/openfaas-incubator/of-watchdog/pull/73#issuecomm

[2019-09-05 13:03] saginadir commented on #75
@cconger I have stumbled upon this issue, and I haven't even realized that the log is being split, so thanks for raising that.

Following your conversation, I have stumbled on [alex's comment](https://github.com/openfaas-incubator/of-watchdog/pull/73#issuecomment-526368426), and this is exactly the issue we are facing at the moment.

Our functions are deployed on k8s cluster which has it's logs sc

[2019-09-05 14:12] alexellis commented on #75
@saginadir please can you open a new issue for your use-case? @cconger is currently filtering out the prefix with his log aggregator tool.

Would also be helpful if you could join Slack and maybe tell us a bit about your use-case to help prioritise.

Alex

[2019-09-05 14:13] alexellis commented on #75
/msg: slack

[2019-09-05 15:02] saginadir commented on #75
@alexellis Will do.

Also I requested invitation to the slack channel.

[2019-09-09 07:55] saginadir opened #82 "Support for structured logging"
## Expected Behaviour
In order to integrate with my org's log aggregator I need to provide pure JSON logs from all deployed apps. That means that the logs will need to be parsed as a JSON as such:

[code]

## Current Behaviour
1. The current behavior is that there is a prefix for the logs coming from the function
2. The log of the function response status is unstructured.

[code]

## Possible Solu

[2019-09-21 16:18] fopina opened #83 "empty log line"
[bingLoggingPipe](https://github.com/openfaas-incubator/of-watchdog/blob/master/executor/logging.go#L18) prints empty line (even without timestamp) when printing stdout/stderr from function

## Expected Behaviour
I would expect empty lines to be ignored or properly timestamped to keep the line structure (for log collectors)

## Current Behaviour
With this in a function handler:
[code]

the functio

[2019-09-21 16:48] fopina commented on #83
invalid issue, sorry. noticed I was using 0.5.3 in my template after opening this, tested with 0.7.2 and all good!

[2019-09-21 16:48] #83 closed

[2019-10-17 15:39] LucasRoesler opened #84 "HTTP Executor has unnecessary channel select in the error handling"
When reviewing a support issue related to the Gateway,  I ended up reviewing the HTTP exector to find any context timeouts.  It does have a timeout during the proxy to the function implementation, which is fine, but the processing of the error case from the HTTP client does not need the `select` statement it currently has.

## Expected Behaviour

The client error check  can be simplified  because

[2019-11-16 16:50] reitermarkus opened #86 "Healthcheck for `FROM scratch` images."
Currently, we are able to run `fwatchdog` in a `FROM scratch` image, but we cannot run the default healthcheck since there is no `[`/`test` command to check for a file's existence as far as I can tell.

## Possible Solution

We could add a subcommand for `fwatchdog` which in turn performs the health check instead of relying on a `[`/`test` command being present , i.e.

[code]

[2019-11-16 17:59] alexellis commented on #86
Sounds like a fair request. I believe @stefanprodan does similar for his podinfo example.

https://github.com/stefanprodan/podinfo

This would need to be applied to both watchdogs for consistency.

[2019-11-28 20:14] #86 closed

[2020-01-06 22:11] alexellis opened #89 "Add Http_Transfer_Encoding env-var to all modes but http"
Add Http_Transfer_Encoding env-var to all modes but http. It was added to the classic watchdog and should be added here for the streaming and forking modes.

## Possible solution

Copy the design from https://github.com/openfaas/faas/pull/1423

[2020-01-06 22:15] codegold79 commented on #89
I'll take this one.

[2020-01-07 05:39] codegold79 commented on #89
It seems there are five modes, streaming, serializing, afterburn, requestHandler, http, and static.

The instructions don't seem to align, so I need to do some more research into the modes and why they would or would not need the http_Transfer_Encoding env-var.

The first sentence says, "Add Http_Transfer_Encoding env-var to all modes but http," which to me sounds like I should modify streaming, s

[2020-01-07 17:57] alexellis commented on #89
I think I might have given you the impression that this is more complicated than it is, sorry for that.

It's simply a copy/paste job and no more than that. Copy the code from the classic watchdog into the handlers for the forking / streaming modes. I think we renamed forking to "serializing".

https://github.com/openfaas-incubator/of-watchdog/blob/master/executor/streaming_runner.go#L38
https://g

[2020-01-07 18:00] #89 closed

[2020-01-07 18:00] alexellis commented on #89
I'll take this as it's probably easier that way. Take a look at the commit above.

[2020-01-07 18:02] alexellis commented on #84
@LucasRoesler would you raise a PR for this? Can it be tested?

[2020-01-07 18:04] alexellis commented on #82
Do we have enough for this now with the PRs merged?

[2020-01-07 18:04] alexellis commented on #75
How are we doing with this now @cconger @saginadir ?

[2020-01-07 18:07] Waterdrips commented on #64
Assign: me

[2020-01-07 18:07] Waterdrips commented on #64
/assign: me

[2020-01-08 08:04] saginadir commented on #82
As I mentioned in my other comment, I forked watchdog to allow the expected behavior for our functions. I am not aware of the Merged PRs, any of them deal with with the issues I raised here? If so I'll use the official watchdog, if not I can assist with developing a solution for this issue and create a new PR.

[2020-01-08 08:05] saginadir commented on #75
@alexellis For my solution, at the moment I forked the watchdog and made the specific changes I needed

[2020-01-08 09:49] Waterdrips commented on #64
I'm seeing "5" or 5 being intepreted as 0s (of-watchdof 0.7.2) using node12 and python3-flask templates

Function is invoked and works with sleeps of 9s (highest i tested)

The fix im working on sets 5 as 5s :man_shrugging:

[2020-01-08 13:17] alexellis commented on #64
Great stuff, you got the gist of it 👍

[2020-01-08 13:18] alexellis commented on #75
I think that the Netflix guys just used a prefix rule for their logging so that it worked with their ingestion pipeline. Maybe that'd work for others too?

Do you have your fork public for us to compare?

[2020-01-08 13:19] alexellis commented on #82
What tooling are you using to collect logs and index them?

[2020-01-08 13:23] saginadir commented on #75
Yes, that's my fork
https://github.com/openfaas-incubator/of-watchdog/compare/master...saginadir:master

[2020-01-08 15:22] alexellis commented on #75
Thanks.

On this line, how do you ensure that the code doesn't write plain-text? https://github.com/openfaas-incubator/of-watchdog/compare/master...saginadir:master#diff-42b34d1af16e4b2190c38ad0ec0e0f54R18

[2020-01-08 15:58] saginadir commented on #82
We are using Filebeat, logstash, and elastic search

[2020-01-08 18:36] #64 closed

[2020-01-14 16:21] saginadir commented on #75
The logger that logs the messages from the function simply pipes the message from the function, and I make sure the function logs JSON.

And I print the status strings in JSON instead of plain log, which is done by replacing this line:
[code]

with this:
[code]

I avoid using JSON encode for a small performance gain (which is really minor for our current scale, but can matter in larger scales)

[2020-01-24 20:19] evilmonster18 opened #91 "What is of-watchdog used for?"
I've been reading through the documentation of OpenFaas, watchdog and of-watchdog, and I was wondering something. I know that watchdog is a lightweight HTTP server that is used to route requests to the function it was deployed with, but I'm wondering why you need it exactly? Can't the function just expose an HTTP server of its own and deploy it by itself?

Please correct me if I'm wrong, but Knati

[2020-01-24 20:35] alexellis commented on #91
I do find the question rather odd since we've gone to great efforts to explain and document the two watchdogs available and how they are both optional.

OpenFaaS is both a FaaS and a CaaS at the same time, whilst all this is explained in the docs, I am going to try and set the record straight

First of all the comparison with Knative is rather faulty, Knative is a CaaS and not a FaaS. Containers b

[2020-01-24 20:35] #91 closed

[2020-03-10 11:58] t83714 opened #92 "Support request on scaling from zero"
If you invoke a function (use of-watchdog HTTP mode) after it's been scaled to zero, a new function pod has been successfully created but get `Server returned unexpected status code: 500 - ` result.

If you look into the function pod log below:

[code]

you can tell `of-watch` throw an `Upstream HTTP request error` 6 seconds before the express Node.js server started to listen at port 3000.

## Exp

[2020-03-10 13:43] alexellis commented on #92
Hi in order to look at this we will need to know your complete set-up and how we can reproduce the issue. I can't actually reproduce this so I would think you may have missed some key information?

[2020-03-10 13:44] alexellis commented on #92
/set title: Support request on scaling from zero

[2020-03-10 13:44] alexellis commented on #92
/add label: support

[2020-03-10 23:01] t83714 commented on #92
@alexellis Thanks for your reply.
Here is the repo of our project (Branch openfaas):
https://github.com/magda-io/magda-ckan-connector/tree/openfaas

I tried to create a customised docker image to suit our project.
You don't have to build the project as the docker image is available from docker hub.
We deploy it like (helm tpl is [here](https://github.com/magda-io/magda-ckan-connector/blob/openfaas

[2020-03-11 21:58] cconger commented on #75
In our utilization we were planning on just stripping the included prepended flags, regular expression essentially targeting the `:`

I could see this as a configurable.  In the simplest case it could just a passthrough to the `log.Flags` call and the user could set `LOG_FLAGS=19` as a config environment variable.  The downside is users would have parse the bit mask constants https://golang.org/pk

[2020-03-12 12:17] t83714 commented on #92
@alexellis
Not familiar with GO but quick browsing the code and looks like `_/health` endpoint will return 200 immediately once `of-watchdog`'s HTTP server starts to listen?

See the line below. The `acceptingConnections` has been set to `1` here.

https://github.com/openfaas-incubator/of-watchdog/blob/dd56bb916862d17f72d52d82469c631713bdd414/main.go#L146

After that, `_/health` endpoint will alwa

[2020-03-12 12:21] alexellis commented on #92
How long does it take until your function server is ready?

[2020-03-12 12:25] alexellis commented on #92
Would you be open to trying out a custom health check path? https://docs.openfaas.com/reference/workloads/

It should be proxied to your function code.

[2020-03-12 12:26] t83714 commented on #92
4 to 6 seconds.
From the logs, I can tell the `of-watchdog`'s HTTP server is online and start to serve `_health` request within 1 second.

[2020-03-12 12:27] t83714 commented on #92
Thanks a lot! Will have a try the `custom health check path` and report back 👍

[2020-03-12 12:56] t83714 commented on #92
@alexellis

I've added a `/_/health` endpoint to my express executor:
[code]

And delete the function and re-deploy the function with `com.openfaas.health.http.path: "/_/health"` annotations:

[code]

However, seems still got the same error.
The invocation request was received after 5s but the express server was up after 10s:
[code]
Seems custom health check path didn't work.
Is it something to do

[2020-03-12 13:08] alexellis commented on #92
You need to use a *different* path otherwise you'll conflict with the watchdog

[2020-03-12 13:31] t83714 commented on #92
Set com.openfaas.health.http.path to a different path works!
I do need to set com.openfaas.health.http.initialDelay: "10s" as well to avoid container being restarted.
Thanks a lot! @alexellis  👍

[2020-03-12 13:31] #92 closed

[2020-03-12 13:34] alexellis commented on #92
What was your typical start up time for your container?

Given your usage, you may benefit from joining the Insiders Program, from 5USD/mo. https://openfaas.com/support

[2020-03-12 23:07] t83714 commented on #92
I think the typical container start-up time is around 10s.
A closer look at it I found the long startup time may cause by the `require()` in NodeJs.
We use `require()` to load a lot of JSON files from another NPM package ---- it might be the culprit that causes the delay.

Regarding the support service, we just start to look at FaaS solutions and evaluate the suitability of Openfaas for our projec

[2020-03-13 07:49] alexellis commented on #92
It's not a support program, is a landing page which has the newsletter subscription. Click it, read it, if you don't have a budget for 5 USD, then honestly don't worry.

[2020-03-21 11:09] LucasRoesler commented on #75
I think that enable/disable the default is probably the simplest and most common case. Any other customization of the log output could be implemented in the function by the template/handler

[2020-04-20 11:55] Janaka-Steph opened #94 "[Feature Request] Static Mode With Catch-all Capability"
This issue is a feature request asking to add a catch-all capability to the static mode.
The static server should redirect every possible url pointed to the function to the root path.
Example: `http:127.0.0.1:8080/function/hello/subpath` -> `http:127.0.0.1:8080/function/hello`

In Nginx, this is accomplished with the `try_files` directive.
https://docs.nginx.com/nginx/admin-guide/web-server/servin

[2020-04-20 12:26] alexellis commented on #94
Hi @Janaka-Steph thanks for your interest in the project and for writing up an example.

Can you substantiate that claim?

If you redirect every URI to index.html, how do you expect to serve your CSS and JS bundles? I don't quite follow that part.

Alex

[2020-04-20 13:56] Janaka-Steph commented on #94
Yes, we should not redirect every possible url, only the ones that fails. In Nginx, the try_files directive will try the request, and fallback otherwise. In Express.js, we apply the static middleware before any others.

The first issue is subjective, I think that a # in the url is ugly.
The second issue is that Hash History is not SEO friendly.

Feel free to close this issue if you think that addi

[2020-04-23 15:16] jonyhy96 opened #95 "[HELP WANTED]How the share of database connection between child process implemented"
I noticed that the [architecture](https://docs.openfaas.com/architecture/watchdog/#of-watchdog) says that:
`This version of the of-watchdog brings new features for high-throughput and enables re-use of expensive resources such as database connection pools or machine-learning models.`
as well as the [golang-http-template](https://github.com/openfaas-incubator/golang-http-template/blob/master/README

[2020-05-14 09:15] jonyhy96 commented on #95
The functions are running as a un-stop process, so the resource is able to reuse.

[2020-05-14 09:15] #95 closed

[2020-05-25 13:04] nadendlaprasad opened #98 "Running multiple instance of fwatchdog"
Hi,

Is it possible to run multiple instances of fwatchdog with different configuration means setting different values for fprocess, mode etc...

I had a quick look at the code. If my understanding is right, It looks like code is written to grab configuration always from environment variables and not possible to pass as a parameters to the fwatchdog command.

Please do let me know if it is possibl

[2020-06-29 14:12] everesio opened #100 "Support request for massive log lines"
When log contains log line longer than MaxScanTokenSize (64 * 1024), an error "Error scanning stderr: bufio.Scanner: token too long" is reported. All subsequent requests (when using the logger) are blocked.

## Expected Behaviour

Long lines should be logged

## Current Behaviour

bufio.NewScanner is initialized with MaxScanTokenSize = 64 * 1024. If log line is longer then this limit,
bufio.Scanne

[2020-06-29 14:16] alexellis commented on #100
Hi, can you put your project on GitHub in its own repo so that we can check it out and see the source code?

I also wanted to know which mode of the watchdog you are using and why you feel it necessary to stream a massive file into the container logs? There may be alternatives which do not require this proposed solution, so I wanted to get a better idea of the exact use-case, can you help us out

[2020-06-29 14:36] everesio commented on #100
Hi Alex,
I attached the token-too-long.zip with the test function and Makefile for building and testing, but if you want I can create a repo for this.

Please checkout the code:
1. template python3-http-debian - openfaas/of-watchdog:0.7.7 as watchdog
2. test handler

[code]
3. POST event which breaks the function

[code]

Kind regards,
Michal

[2020-06-30 06:45] conan-o-chang opened #101 "Support issue with Kubernetes"
## Expected Behaviour

When we send a SIGTERM to `fwatchdog`, it should be **closed** after `fprocess` was gracefully shut down.

## Current Behaviour

When we send a SIGTERM to `fwatchdog`, it was still **running** after `fprocess` was gracefully shut down(exit code of fprocess is 0).
In other case, if fprocess close with an error(exit code is not 0), watchdog will show a log `Forked function has

[2020-06-30 07:20] alexellis commented on #101
What was your write_timeout value? Pods do not die instantly but are configured to stay for a grace period.

I'd like you to show how to reproduce this on Kubernetes, not with an arbitrary docker kill command as that's not necessarily the correct workflow and behaviour.

[2020-06-30 07:20] alexellis commented on #101
/set title: Support issue with Kubernetes

[2020-06-30 20:34] conan-o-chang commented on #101
@alexellis  Thank you so much for your comment. The reason is that I set write_timeout of the function too high. After setting write_timeout right, those pod will close correctly. Sorry for misunderstanding the meaning of write_timeout.

There is my testing code: https://github.com/conan-o-chang/openfaas-long-running-task

[2020-07-05 18:53] conan-o-chang commented on #101
Hi @alexellis , sorry for bothering you again.
I find that If I set a high write_timeout of my function, the issue sill happening. fwatchdog keep running after fprocess was finished, and it make Kubernetes's pods keep `Terminating`

## Steps to Reproduce (for bugs)

1. The source code I am using: https://github.com/conan-o-chang/openfaas-long-running-task
2. Pull template python3-flask: `faas temp

[2020-07-10 10:54] lihopentium opened #102 "Upstream HTTP request error on gunicorn worker auto-restart"
We use gunicorn on fprocess command `ENV fprocess="gunicorn -c gconfig.py index:app"`
The of-watchdog appear the `Upstream HTTP request error` while the gunicon worker restart by the `max_requests` setting.

I use `ab` to stress test on of-watchdog and gunicorn endpoint, and only happened on the `POST` method.
The of-watchdog endpoint had some failed requests while the gunicorn worker restart.
But

[2020-07-18 21:24] MuhammetDilmac commented on #48
@alexellis i set to 0 but error message given to 0s
[code]

and it's my error;
[code]

[2020-07-19 08:35] alexellis commented on #48
Why would you set the timeout to 0 seconds, it makes absolutely no sense?

[2020-07-19 08:36] alexellis commented on #48
If you're trying to get an unlimited timeout, then you may be barking up the wrong tree, instead, set it as high as you dare - i.e. 10m or 2h

[2020-07-19 08:36] alexellis commented on #48
/set title: Support question on unlimited timeouts

[2020-07-19 08:37] alexellis commented on #48
/msg: slack

[2020-07-19 11:18] MuhammetDilmac opened #103 "Long Running Function Failed"
I have a function execution time during 35-40 minutes. When i try to run on my machine its working successfully. But deploy to openfaas and run async its not completed end return 502 error on callback (Running 1337.917547 second).

My callback response;

First;
[code]

Second;
[code]

Docker service logs;
<img width="953" alt="resim" src="https://user-images.githubusercontent.com/6417144/87873452-

[2020-07-19 11:45] #103 closed

[2020-07-19 11:46] alexellis commented on #103
Hi I'm sorry but we don't offer technical support through github. You'll need to register for Slack and talk to the community there.

I'd also recommend you read the documentation and troubleshooting guides. We do have a tutorial on how to configure timeouts.

Alex

[2020-07-19 11:46] alexellis commented on #103
/msg: slack

[2020-07-19 11:46] alexellis commented on #103
/set title: Support request for timeouts

[2020-07-30 09:37] ghostbody commented on #100
+1

When trying to log something longer than 65536, "bufio.Scanner: token too long" will occur.

Here is my problem:

![image](https://user-images.githubusercontent.com/8371330/88907255-01c20100-d28b-11ea-8234-8366429b5656.png)

In scan.go

[code]

[2020-07-30 12:06] alexellis commented on #100
/set title: Support request for massive log lines

[2020-07-30 12:07] alexellis commented on #100
Can I ask why you are logging such huge amounts of data to the container logs? This doesn't seem like a normal usecase.

[2020-07-30 12:46] ghostbody commented on #100
@alexellis

Yes, you are right. This is not a normal usecase.

But there all serveral senes:

1. Debug: Some users needs to debug the function at openfaas platform. And they turn on some debug logs which could be huge.

2. Error Tracking with logs to ELK (elastic logstash kibana): Some users prefer to send to log to  ELK through log stream. The best practice is to use "one line log". Moreover some

[2020-07-31 06:51] lihopentium commented on #102
I have a solution proposal, could we make the keep-alive to be an optional argument.
Let the user decide to turn on or turn off for their cases.
@alexellis Does it make sense to you?

[2020-08-02 07:08] pyramation opened #104 "Support request about content length"
## Expected Behaviour

when `POST`ing a request to a cloud funtion, the request body should be available inside the cloud function. Specifically, the header for `content-length` should be set and the data should be readable.

We should expect, for example,

[code]

to respond with:

[code]

## Current Behaviour

Currently the response is missing the body completely. When I check content length it

[2020-08-03 11:44] alexellis commented on #104
Can I ask why you need the content length and how you are using it? You're seeing -1 due to a chunked HTTP request, where the data is streamed so no length is available

[2020-08-03 11:44] alexellis commented on #104
/set title: Support request about content length

[2020-08-03 21:42] pyramation commented on #104
I'm using a built-in python3 library, `http.server`. All of my research leads to similar methods that read `content-length` header to parse the body of the request.

After reading this, I started to research into chunked encoding, but I'm not sure if `http.server` can do it. Did you mention there is a way to tell the system to use `content-length`?

[2020-08-06 03:32] edgar1992 opened #105 "bufio.Scanner: token too long"
when the forked process has too long log, it will cause 'bufio.Scanner: token too long'
https://stackoverflow.com/questions/21124327/how-to-read-a-text-file-line-by-line-in-go-when-some-lines-are-long-enough-to-ca

[2020-08-06 13:00] pyramation commented on #104
Thanks again! I think I'm just gonna use the flask template for now, seems light weight enough! Thanks for the info, I'm happy to understand the inter-workings and now accept that I should just use a system that abstracts the chucked/content-length

[2020-08-06 13:00] #104 closed

[2020-08-06 20:26] jjchiw opened #106 "FSharp Template"
FSharp Template using of-watchdog

## Expected Behaviour
Allow to create functions using of-watchdog with fsharp

## Current Behaviour
Not Available

## Possible Solution
https://github.com/jjchiw/faas-fsharp-giraffe

## Steps to Reproduce (for bugs)

## Context

## Your Environment

[2020-08-07 08:16] alexellis commented on #106
Hi @jjchiw, happy to add this template to the store. You just need to change the fprocess name to `fsharp-giraffe`, thank you.

Feel free to do that, then send a PR and update your README in the root of your repo with a detailed usage guide as per:

https://github.com/openfaas-incubator/node10-express-template

Alex

[2020-08-07 08:21] alexellis commented on #105
What use-case do you have, that is writing to stdio with a huge output? The of-watchdog is designed primarily for use with the HTTP mode which should only write occasional, and very brief debug messages.

Can you help us understand what you're trying to achieve here?

[2020-08-07 08:22] alexellis commented on #105
Closing as duplicate of https://github.com/openfaas/of-watchdog/issues/100 - however, I'd still like to hear from you on the above @edgar1992

[2020-08-07 11:35] jjchiw commented on #106
Hi!

I updated the project [README](https://github.com/jjchiw/faas-fsharp-giraffe/blob/master/README.md) and did some refactoring to allow the same flexibility as the `node10-express-template` eg. routing, services...

What `fprocess` should I change to `fsharp-giraffe`? I changed the `fprocess` in the `template.yml` but it fails to start the pod

[2020-08-08 07:22] LucasRoesler commented on #100
I think we can consider increasing or even allowing the buffer size to be controlled via an env variable. Even LogStash (in ELK) has a max buffer size https://www.elastic.co/guide/en/logstash/current/plugins-inputs-udp.html#plugins-inputs-udp-buffer_size

Looking through several version

The default buffer size is:

* 65536 bytes on Logstash >= 5.1
* 8192 bytes on Logstash >= 2.0
* 4096 bytes on o

[2020-08-08 17:24] everesio commented on #100
If a log line longer than 64K stop a service to operate, it is a serious problem
and it is irrelevant if log collectors can deal with such lines or not.

I found really amusing renaming the title of the issue from "bufio.Scanner: token too long" to "Support request for massive log lines", which implies a feature request and not a bug.

As a comparison please check https://github.com/hashicorp/terr

[2020-08-08 17:35] LucasRoesler commented on #100
@everesio I agree, a long log line should not stop the watchdog from working. My main point above is that it seems reasonable to have a buffer and to allow control over the size of that.

Of course, logging shouldn't cause anything to crash, that goes without saying.

[2020-08-08 17:43] LucasRoesler commented on #100
I just read the https://github.com/hashicorp/terraform/issues/20325 it looks like something we could replicate in https://github.com/openfaas/of-watchdog/blob/master/executor/logging.go

[2020-08-08 17:51] everesio commented on #100
Exactly the "scanner.Scan" method it the source of problem.
More than month ago I provided a PR https://github.com/openfaas/of-watchdog/pull/99 with the fix.
You can rework it or fix in different way. I am currently discouraged to make any source code contributions the this project.

[2020-08-08 20:56] LucasRoesler commented on #100
I started adapting the terraform patch, and it is definitely a bit messy because of the internal use of `logger`, I have an idea for how to work around it and I will post once I have tested it

[2020-08-08 21:28] LucasRoesler commented on #100
@everesio give this a try https://github.com/openfaas/of-watchdog/pull/107

[2020-08-13 19:06] itsksaurabh opened #108 "Duplicated copy line in Dockerfile"
## Expected Behaviour

## Current Behaviour

There are some areas of improvement in the current [Dockerfile](https://github.com/openfaas/of-watchdog/blob/master/Dockerfile):

**1.** Repeats similar build steps ( layers ). It can be seen [here](https://github.com/openfaas/of-watchdog/blob/ec85b31ffb89697063fb002ddacec2097a47b3d1/Dockerfile#L13).

[code]

**2.** Build Args are there but not used any

[2020-08-14 08:08] alexellis commented on #108
/set title: Duplicated copy line in Dockerfile

[2020-08-14 08:09] alexellis commented on #108
Happy for you to send a PR to remove the duplicated line. the ARGS can be changed to ENV if they are not used.

[2020-08-14 08:43] itsksaurabh commented on #108
@alexellis Thanks for the review. I am removing that duplicated copy of the line from the Dockerfile with my PR.
Before changing ARGS to ENV, I would like to discuss it in the slack channel. :)

[2020-08-14 09:21] #108 closed

[2020-09-03 12:48] AntonioFilipov opened #110 "Performance degradation on parallel invocation of long running functions (15s)"
## Expected Behaviour
A way to configure how many threads of the underline WSGI server to be used for function execuiton
## Current Behaviour
Default threads count is 4 and thus only 4 parallel functions are executed at the same time

## Possible Solution
Providing an env variable inside templates

[code]

## Steps to Reproduce
Function

[code]

[code]
Testing results with 50 parallel invokations

[2020-09-08 07:56] alexellis commented on #110
Hi @AntonioFilipov

I'm not sure this is anything to do with the watchdog, it sounds like an issue with the python3-http template that you're using and the behaviour of its HTTP server called [waitress](https://docs.pylonsproject.org/projects/waitress/en/stable/).

I'd suggest you spend a bit of time with their documentation and browsing the template repo below:

You can find the repo here: https:

[2020-09-08 07:56] #110 closed

[2020-09-08 07:56] alexellis commented on #110
/set title: Support issue for Python template

[2020-09-08 08:00] alexellis commented on #110
It seems like you may want the setting in the Waitress docs:

[code]

https://docs.pylonsproject.org/projects/waitress/en/stable/runner.html#runner

If it can configured via ENV-var, then that'd be your easiest option, otherwise feel free to experiment by forking the templates repo, changing them and testing them out.

[code]

You should also configure some minimum level of availability for the fu

[2020-09-12 02:48] junneyang opened #111 "Support issue"
1、of-watchdog，max_inflight = 1
![image](https://user-images.githubusercontent.com/6802322/92985443-1a0d7880-f4e5-11ea-9394-53fa520e7a81.png)

2、template：python3-http（https://github.com/openfaas-incubator/python-flask-template/tree/master/template/python3-http）

3、the log show that multiple request are handling concurrently：
![image](https://user-images.githubusercontent.com/6802322/92985483-75d801

[2020-09-12 07:04] alexellis commented on #111
Share how you are invoking?

Also this doesn't necessarily mean it's not working. It's just showing a thread number, by default there are 4.

[2020-09-12 07:04] alexellis commented on #111
/set title: Support issue

[2020-09-12 07:36] matti commented on #20
my usecase: run https://github.com/ws-doom

[2020-09-12 08:19] #20 closed

[2020-09-12 08:20] alexellis commented on #20
I'm going to close this issue as it's already been answered.

We may consider websocket support in the future, however we've had no requests from commercial users for this as of yet. Ideally, we'd be looking for one of them to sponsor the work and maintenance of the feature. It would also break any timeouts and limits that people expect from FaaS platforms like OpenFaaS and Cloud Run.

[2020-09-13 04:36] junneyang commented on #111
@alexellis  thanks, it's about the container oomkiller and restart

[2020-09-13 04:36] #111 closed

[2020-10-22 10:39] sisp opened #113 "Use CLI flags for configuration instead of environment variables"
## Expected Behaviour

`of-watchdog` should be configurable using CLI flags instead of environment variables.

## Current Behaviour

`of-watchdog` is only configurable using environment variables.

## Possible Solution

Add CLI flags for configuration. To retain backward compatibility, environment variables can be used when no CLI flags are provided. If at least one CLI flag is provided, environme

[2020-10-22 10:58] alexellis commented on #113
Hi @sisp environment variables are used to configure 12-factor apps rather than flags.

I would consider the variables used in the watchdog as reserved.

Unless you have a concrete problem, where this is clashing for you and causing an issue, I'd suggest we leave things as they are and close this issue.

Thank you for your concern.

Alex

[2020-10-22 11:31] sisp commented on #113
Hi @alexellis, I automatically extend user-provided Docker images with `of-watchdog`, so they can be deployed to OpenFaaS without additional effort for the user. I _could_ declare the `of-watchdog` variables as reserved, but I don't think this is a clean solution because from a user's perspective `of-watchdog` doesn't exist and I'd like it to be only an implementation detail of my "platform".

If

[2020-10-22 12:03] alexellis commented on #113
I'm unaware of your usage of OpenFaaS and this is the first time we've heard from you. It may make your case stronger, if you're seen to participate in the community and build some goodwill and relationship with the community.

For your reference, here are a list of environment variables in use.

https://github.com/openfaas/of-watchdog#configuration

If you can show this to be a genuine problem ra

[2020-10-22 17:21] sisp commented on #113
That's true, I've been using OpenFaaS for about a year and it has worked great so far, so there was no need to engage on GitHub. But I'm happy to discuss with the larger community about my case.

Thanks for referencing the configuration list. I'm aware of it and understand how `of-watchdog`works.

I'm building a small wrapper CLI around `faas-cli deploy` to allow users to deploy their already dock

[2020-11-06 04:46] matart15 commented on #94
I want this to be implemented as well.

Now I am using an unnecessary express server to serve my react app

[2020-12-04 19:05] studiogangster opened #115 "Add Function's TraceID in logs to trace individual function call & track progress (stderr & stdout)"
## Expected Behaviour
The function logs should also contain an TraceID, which can be used to debug a specific function call.

## Current Behaviour
Current logs shows timestamp, stderr/stdout, and function's name as prefix

## Possible Solution
Modify 'bindLoggingPipe' signature and include an argument for (prefix/tag/traceId: string) in./executor/logging.go: bindLoggingPipe()
The tag can be parsed

[2020-12-04 19:35] alexellis commented on #115
/set title: [Feature request] Add X-Call-Id to log lines

[2020-12-04 19:36] alexellis commented on #115
Thanks for using OpenFaaS. We'll consider this request in our next triage meeting.

In the meantime, I would suggest taking a look at what we have to offer companies adopting OpenFaaS for commercial use. https://www.openfaas.com/support/ and https://github.com/openfaas/faas/issues/1591

[2021-01-04 03:54] OfWatchdogMissingContentLength opened #116 "of-watchdog always uses Transfer-Encoding: chunked despite having a valid and accurate Content-Length available"
I'm trying to set up a Nim HTTP function using of-watchdog. I've managed to configure of-watchdog in HTTP mode where GET and POST (with no data) work as expected. However, upon trying to send a POST with data, I get a `Content-Length required.` response from Nim.

## Expected Behaviour

I would expect the setup to work for POST with data, ie. the entire set of headers should be forwarded, includin

[2021-01-06 05:38] OfWatchdogMissingContentLength commented on #116
I've done some more digging and debugging, and it seems the issue is that although a `Content-Length` is known, of-watchdog instead sends an HTTP request with `Transfer-Encoding: chunked`, which is not yet supported by my Nim server.

I claim this is still a bug/unexpected behaviour, but it wasn't obvious to me if this is something done by of-watchdog or the go standard library.

See logs:
[code]

[2021-01-13 22:11] tmiklas opened #117 "Documentation - missing 'mode' option description"
Small improvement

Documentation section is missing the `mode` parameter in the table of configuration options.
Examples show invocation of environment vars like `mode=http` etc.

[2021-01-13 22:13] tmiklas opened #118 "Documentation - missing mode parameter"
Small improvement

Documentation section is missing the `mode` parameter in the table of configuration options.
Luckily examples show at least one invocation of environment vars like `mode=http` etc. to switch operating mode from default `streaming`  to other variants.

[2021-01-14 19:39] alexellis commented on #117
PRs welcome. Thanks for the suggestion

[2021-01-28 14:01] alexellis commented on #118
Is this a duplicate of #117 @tmiklas ?

[2021-01-28 15:27] tmiklas commented on #118
yes, no idea how/why it was created

[2021-01-28 15:27] #118 closed

[2021-01-28 16:02] #117 closed

[2021-02-04 20:53] Voziv commented on #82
@saginadir  Do you have that fork available in a public repo? I'm very interested in checking it out!

[2021-02-04 23:59] Voziv commented on #75
Having the ability to pass through logs from the function and letting the template/handler decide  the log format would be super helpful

[2021-02-06 16:09] saginadir commented on #82
sorry man, I don't have access to it anymore. I left the code at my previous job. That being said, it's a minor change.

1. I added to the correct flags to the global log object to NOT print anything but the log message.
2. I searched in the places where watchdog actually uses the log function, and there I edited the log to be in a JSON format.

Overall I think it was not more than 10 lines of cod

[2021-02-08 11:28] alexellis commented on #75
@Voziv please can you improve the quality of your +1 here by stating what problem you're facing and which of the three outlined solutions would help you?

[2021-02-08 12:21] alexellis commented on #82
I'm going to close this and keep conversation focused on #75 so we can find out whether there is an issue with:

* Lack of structured logging in JSON format from the watchdog

Or

* A request to trim prefixes

[2021-02-08 12:21] #82 closed

[2021-02-08 12:29] alexellis commented on #75
This is what it looks like without the log prefix for streamed lines

[code]

And without everything removed including the prefix

[code]

However there are mixed requests here, going as far as asking for the watchdog itself to output structured logs in JSON format:

[code]

[2021-02-08 12:43] alexellis commented on #75
If we move to a structured logger to output JSON and then some users want to see plaintext for debugging (frankly, I find the JSON hard to read), then the results are pretty ugly and still pretty difficult to read at a glance.

[code]

[2021-02-08 13:44] alexellis commented on #116
Hi there,

For us to see whether it's the watchdog or some other component, you should run the watchdog on your host and show us that output.

Alex

[2021-02-08 13:44] alexellis commented on #116
/msg: enduser

[2021-02-08 13:44] alexellis commented on #116
/add label: support, question

[2021-02-08 13:46] alexellis commented on #115
Related to #75

In which case, using the call ID in the log line goes against the other ask to pass through text.

[2021-02-08 14:15] Voziv commented on #75
Totally agree that json destroys readability if you're looking at the logs directly. Our case we only want to have json where logs are never looked at directly but instead via an aggregator (newrelic-logging in our case).

Absolutely. The main issue I came looking for is the ability to just have template/function logs passed through.

Current State:
[code]

So what I can see is we have three diffe

[2021-02-08 14:19] alexellis commented on #75
So would this line from the watchdog not break your log parser, if it's expecting a strongly typed JSON output?

[code]

cc @saginadir if you have time to give your 2c here

[2021-02-08 15:00] Voziv commented on #75
Cluster logs are injested from the container log files on the node. At least in the case of newrelic-logging they're parsed by individual lines so lines that are pure json (and likely has a requirement to have a date field + message field) will be parsed as json. Other plain text logs should parsed normally so it should be fine.

I could be wrong about this though.

[2021-02-08 15:47] saginadir commented on #75
@alexellis From my experience I need a log that looks like that:

[code]

For hobbiest it's a terrible experience to read JSON logs like you mentioned. But working in a big organization with a rigid DevOps team can sometimes make you jump through hoops in order to abide by their guidelines. For us, we were using ElasticSearch to aggregate the stdout output of all production nodes in k8s cluster. S

[2021-02-08 17:51] #75 closed

[2021-02-09 11:29] alexellis commented on #75
Please see https://github.com/openfaas/of-watchdog/commit/51ea0d642955a011bd1f2f0be64319721de2f2e2 which adds a mechanism to disable prefixes to function logs.

This is option 3 (No prefix at all - pass-through for all lines)

[2021-02-26 22:05] #32 closed

[2021-07-18 21:19] mslaga opened #123 "Wrong implementation of mode serializing"
According to: https://golang.org/src/net/http/request.go?s=12527:12599
ContentLength cannot specify how much data will be copied to process because -1 is the correct value.

## Expected Behaviour
Function works when ContentLength is -1

## Current Behaviour
In my case, on raspberry pi, the function always fails because of that

## Possible Solution
Copy the req.InputReader stream to stdin in loop

[2021-07-19 07:54] alexellis commented on #123
Hi thanks for your interest

Under "Steps to Reproduce (for bugs)" you must provide a full set of instructions on how to reproduce the issue with this specific project and a sample function / workload.

Alex

[2021-07-19 17:17] mslaga commented on #123
Hi, I am sorry, but I do not see a point in a full set of instructions on how to reproduce. It could work perfectly in your case.
I do not know when -1 can occur in ContentLength, but it happens in my case.(Maybe when not all body data are available in stream yet?).
Sample function will not help you. In the function, stdin is just empty because of-watchdog did not read any content from the request

[2021-11-08 09:37] #105 closed

[2021-11-25 05:54] jobamoorthy opened #128 "Got Error "Error scanning stdout: bufio.Scanner: token too long""
Got Error "Error scanning stdout: bufio.Scanner: token too long"
When we use easyocr python package -> https://github.com/JaidedAI/EasyOCR

## Expected Behaviour

Sample 1:
We are try this without openfass, easyocr is working fine. [refer attachment - easyocrDockerwithoutopenfass]
![image](https://user-images.githubusercontent.com/86336914/143384171-b58892bc-055b-4218-9808-5a9746707c55.png)

Sampl

[2021-11-25 11:26] alexellis commented on #128
Hi @jobamoorthy thanks for your interest in OpenFaaS

Whilst we cannot debug your source code for you, we do offer consulting. Feel free to book a call with me if you'd like expert help https://calendly.com/alexellis

In the meantime, I would suggest that you use a recent version of the watchdog and read up on the README.md where it explains how to set a larger buffer for log lines. You also appea

[2021-11-25 11:26] #128 closed

[2021-12-31 10:23] lippoliv opened #129 "Outdated link to Classic Watchdog"
## Expected Behaviour

The link to watchdog classic does work.

## Current Behaviour

The link to watchdog classic ends up in `404 Not Found`.

## Possible Solution

Change link to watchdog classic in [README.md](https://github.com/openfaas/of-watchdog/blob/master/README.md?plain=1#L11) to https://github.com/openfaas/classic-watchdog/tree/master.

## Steps to Reproduce (for bugs)

1. Open https://

[2022-02-20 10:46] alexellis opened #130 "Custom HTTP probes create too much noise in logging"
Custom HTTP probes create too much noise in logging

## Expected Behaviour

A custom HTTP probe to /healthz shouldn't fill the logs with repetitive messages

## Current Behaviour

An OpenFaaS Pro customer reported getting spam in their logs every 1-2 seconds when the kubelet ran its healthcheck.

## Possible Solution

Only log when a user-agent does not have a prefix of "kube-probe"

## Steps to R

[2022-02-20 10:49] #130 closed

[2022-03-22 05:33] jcollie opened #132 "When prefix_logs="false" is set, % signs logged by the function are interpreted as fmt.Printf verbs"
If you set the environment variable prefix_logs to false, % signs are interpreted by of-watchdog as fmt.Printf verbs.

## Expected Behaviour
% signs should not be interpreted

## Current Behaviour
If your function logs "%s", of-watchdog substitutes "%!s(MISSING)"

## Possible Solution

Don't use fmt.Printf() to log data from the function.

## Steps to Reproduce (for bugs)
1. Create a function that

[2022-03-22 10:46] LucasRoesler commented on #132
I think this makes sense and should be a relatively small change to https://github.com/openfaas/of-watchdog/blob/a0289419078824f0a070860f84a6b383eb4f2169/executor/logging.go

@jcollie  would you be willing to open a Pull Request?

[2022-04-29 21:20] jcollie commented on #132
Not from what I saw, but I've never personally used the classic watchdog and I only spent a few minutes looking at the code.

[2022-05-03 15:08] #132 closed

[2022-05-09 23:18] salminsu opened #135 "Use of-watchdog for Docker template running a C/C++ function"
Hi,
I have used the Docker template to run a C/C++ function with the classic watchdog. I, however, need the of-watchdog model in 'http' mode. Since there is no Docker template for that, I tried to understand the of-watchdog http-runner code and [golang-http-template](https://github.com/openfaas/golang-http-template). As the C/C++ function to run in the docker, I incorporated a C/C++ http-server in

[2022-05-10 17:33] salminsu commented on #71
Wanted to know the same thing. How can I print the stdout + stderr from the function process in the watchdog?

[2022-05-10 21:10] alexellis commented on #71
Hi @salminsu

write_debug writes out the function's input, that's what it was supposed to do.

To get the output from the function, just go ahead and log to STDOUT or STDERR.

Unless you're using the Python template with Flask, then you need to use the logger package.

Perhaps you can raise your own issue now since we have no context and please fill out the issue template too?

[2022-05-10 21:10] #71 closed

[2022-05-10 21:10] alexellis commented on #71
/lock

[2022-05-10 21:15] salminsu commented on #135
@alexellis: I was talking in the context of this issue that I raised yesterday. Please let me know if you need more context.

[2022-05-12 18:58] tomaszsluszniak opened #136 "Upstream HTTP killed due to exec_timeout: 10m0s, but it's after a minute"
Hi,
I developed a python function to run ansible playbooks. Some of them are long-running operations, that's why I increased the `exec_timeout` to `10m`.
The function is calling as an `async` function. For testing purposes, I created a simple playbook that has only a `pause` task (sleep for 5 min). My intention was to receive information after the playbook is finished, so I passed the `X-Callback-

[2022-05-17 08:32] tomaszsluszniak commented on #136
Hi @welteki
thanks for the response. I edited the issue description.
Are these expanded timeouts also applicable for `faasd`? If yes, how to set them?

[2022-05-19 08:46] hdaginawala-infoblox commented on #105
bufio.Scanner: token too long

what would cause the above message?
For perspective, This is from a logging host which is created, which ideally receives logs from one source and sends it to another

[2022-05-24 11:55] alexellis commented on #105
Hi @hdaginawala-infoblox

It would seem that you've commented on an old issue

Please raise your own issue in this repository and fill out the whole issue template.

You should also see the "log_buffer_size" note in the README of this repository.

Alex

[2022-05-24 11:55] alexellis commented on #105
/lock: out of date

[2022-07-22 12:14] cmacq2 opened #138 "panic due to SIGSEGV while killing function process in streaming mode"
## Expected Behaviour
I'd expect the OpenFAAS watchdog to be able to kill the function process reliably, and not attempt to kill processes which have terminated already.

## Current Behaviour
[code]

## Steps to Reproduce (for bugs)
1. Generate an image based on `ghcr.io/openfaas/of-watchdog:0.9.6`, including an additional static binary
2. Specify the following environment variables: `mode=streami

[2022-08-05 15:26] alexellis opened #140 "Update GitHub Actions and Dockerfile to use Go 1.18"
## Expected Behaviour

Update GitHub Actions and Dockerfile to use Go 1.18

## Current Behaviour

Still on an older version.

[2022-08-31 13:43] MrWormHole commented on #55
well lucky me, if this is still in progress, might help with linter rules?

I use this for projects and I have scraped countless linter rules from golangci-lint configs because sometimes some rules are the same but maintained by 2 different projects. We can always customize linter settings but I prefer one config for one org that everyone agrees, it is super easy to customize but metalinters are p

[2022-08-31 16:55] #129 closed

[2022-08-31 16:55] #140 closed

[2022-08-31 17:04] alexellis commented on #138
Hi @cmacq2

Thanks for your interest in contributing to and using OpenFaaS

We'd generally ask you to take a brief moment to introduce yourself, see also: [First impressions - introducing yourself and your use-case](https://github.com/openfaas/faas/blob/master/CONTRIBUTING.md#first-impressions---introducing-yourself-and-your-use-case)

For steps to reproduce, we're looking for a code sample, a rep

[2022-09-01 08:59] #138 closed

[2022-09-01 09:00] alexellis commented on #123
I don't think that's quite right:

[code]

We need full instructions to reproduce any issues that you're facing.

Alex

[2022-09-01 09:01] alexellis commented on #123
@mslaga why are you using the of-watchdog in serializing mode? Who taught you or instructed you to do that?

The classic watchdog should satisfy all your needs, if you just want to buffer all the request and response into memory?

[2022-09-01 09:51] #123 closed

[2022-09-01 09:52] alexellis commented on #123
We will probably make the limit reader only come into action if there is a Content-Length header set, and later consider a hard limit for a maximum, configurable via environment variable.

[2022-09-01 15:48] alexellis commented on #136
Hi @tomaszsluszniak Han already answered the question.

The configuration of faasd is covered in the linked eBook.

This isn't an issue with the watchdog.

Alex

[2022-09-01 15:48] #136 closed

[2022-09-01 15:48] alexellis commented on #136
/lock: resolved

[2022-09-09 16:01] taorepoara commented on #135
Hi,

Why do you need the http mode for a very simple function like this one ?

The of your configuration is that the `fprocess` env var in the Dockerfile has `xargs` before your process. Removing it works fine.

Best regards,

Thomas

[2022-09-10 10:12] #135 closed

[2022-09-10 10:13] alexellis commented on #135
For free technical support, attend our weekly Office Hours call in the docs under Community

docs.openfaas.com

[2022-10-07 14:51] kevin-lindsay-1 opened #144 "Function readiness check"
Note: "fn" used to refer to OF "function", to distinguish from the general usage of the term.

As previously discussed over a number of community calls, and especially after watchdog readiness checks were implemented, fn readiness is also something we would like to be able know about, preferably without needing to re-implement the checks in the watchdog for each fn.

## Expected Behaviour

The goa

[2022-10-19 18:24] alexellis commented on #144
Closed by: https://github.com/openfaas/of-watchdog/pull/146

[2022-10-19 18:24] #144 closed

[2022-10-21 19:58] kevin-lindsay-1 opened #147 "Log "Limited" appearing at the rate of a readiness check"
## Expected Behaviour

Health checks should not count towards limited HTTP requests, and watchdog readiness/health checks should not produce logs (to prevent spamming). If log lines should be produced, they should be produced at a debug level, not at an info level.

## Current Behaviour

While a fn pod is at max inflight this log is produced over and over:
[code]

## Possible Solution

## Steps to

[2022-10-21 20:02] #147 closed